<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_A.smcp</key>
	<array>
		<string>a.smcp</string>
		<string>aacute.smcp</string>
		<string>abreve.smcp</string>
		<string>acircumflex.smcp</string>
		<string>adieresis.smcp</string>
		<string>agrave.smcp</string>
		<string>amacron.smcp</string>
		<string>aogonek.smcp</string>
		<string>aring.smcp</string>
		<string>atilde.smcp</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_B.smcp</key>
	<array>
		<string>b.smcp</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Cacute.loclPLK</string>
	</array>
	<key>@MMK_L_C.smcp</key>
	<array>
		<string>c.smcp</string>
		<string>cacute.smcp</string>
		<string>ccaron.smcp</string>
		<string>ccedilla.smcp</string>
		<string>ccircumflex.smcp</string>
		<string>cdotaccent.smcp</string>
		<string>cacute.loclPLK.smcp</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_E.smcp</key>
	<array>
		<string>ae.smcp</string>
		<string>e.smcp</string>
		<string>eacute.smcp</string>
		<string>ebreve.smcp</string>
		<string>ecaron.smcp</string>
		<string>ecircumflex.smcp</string>
		<string>edieresis.smcp</string>
		<string>edotaccent.smcp</string>
		<string>egrave.smcp</string>
		<string>emacron.smcp</string>
		<string>eogonek.smcp</string>
		<string>oe.smcp</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_F.smcp</key>
	<array>
		<string>f.smcp</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gacute</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_G.smcp</key>
	<array>
		<string>g.smcp</string>
		<string>gacute.smcp</string>
		<string>gbreve.smcp</string>
		<string>gcircumflex.smcp</string>
		<string>gcommaaccent.smcp</string>
		<string>gdotaccent.smcp</string>
	</array>
	<key>@MMK_L_H.smcp</key>
	<array>
		<string>eng.smcp</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>M</string>
		<string>Eng</string>
	</array>
	<key>@MMK_L_I.smcp</key>
	<array>
		<string>h.smcp</string>
		<string>hbar.smcp</string>
		<string>hcircumflex.smcp</string>
		<string>i.smcp</string>
		<string>iacute.smcp</string>
		<string>ibreve.smcp</string>
		<string>icircumflex.smcp</string>
		<string>idieresis.smcp</string>
		<string>idotaccent.smcp</string>
		<string>igrave.smcp</string>
		<string>imacron.smcp</string>
		<string>iogonek.smcp</string>
		<string>itilde.smcp</string>
		<string>m.smcp</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_J.smcp</key>
	<array>
		<string>ij.smcp</string>
		<string>j.smcp</string>
		<string>jcircumflex.smcp</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_K.smcp</key>
	<array>
		<string>k.smcp</string>
		<string>kcommaaccent.smcp</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_L.smcp</key>
	<array>
		<string>l.smcp</string>
		<string>lacute.smcp</string>
		<string>lcaron.smcp</string>
		<string>lcommaaccent.smcp</string>
		<string>lslash.smcp</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Nacute.loclPLK</string>
	</array>
	<key>@MMK_L_N.smcp</key>
	<array>
		<string>nacute.loclPLK.smcp</string>
		<string>n.smcp</string>
		<string>nacute.smcp</string>
		<string>ncaron.smcp</string>
		<string>ncommaaccent.smcp</string>
		<string>ntilde.smcp</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Oacute.loclPLK</string>
	</array>
	<key>@MMK_L_O.smcp</key>
	<array>
		<string>d.smcp</string>
		<string>eth.smcp</string>
		<string>dcaron.smcp</string>
		<string>dcroat.smcp</string>
		<string>oacute.loclPLK.smcp</string>
		<string>o.smcp</string>
		<string>oacute.smcp</string>
		<string>obreve.smcp</string>
		<string>ocircumflex.smcp</string>
		<string>odieresis.smcp</string>
		<string>ograve.smcp</string>
		<string>ohungarumlaut.smcp</string>
		<string>omacron.smcp</string>
		<string>oslash.smcp</string>
		<string>otilde.smcp</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_P.smcp</key>
	<array>
		<string>p.smcp</string>
	</array>
	<key>@MMK_L_Q</key>
	<array>
		<string>Q</string>
	</array>
	<key>@MMK_L_Q.smcp</key>
	<array>
		<string>q.smcp</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_R.smcp</key>
	<array>
		<string>r.smcp</string>
		<string>racute.smcp</string>
		<string>rcaron.smcp</string>
		<string>rcommaaccent.smcp</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sacute.loclPLK</string>
	</array>
	<key>@MMK_L_S.smcp</key>
	<array>
		<string>sacute.loclPLK.smcp</string>
		<string>s.smcp</string>
		<string>sacute.smcp</string>
		<string>scaron.smcp</string>
		<string>scedilla.smcp</string>
		<string>scircumflex.smcp</string>
		<string>scommaaccent.smcp</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_T.smcp</key>
	<array>
		<string>t.smcp</string>
		<string>tbar.smcp</string>
		<string>tcaron.smcp</string>
		<string>tcedilla.smcp</string>
		<string>tcommaaccent.smcp</string>
	</array>
	<key>@MMK_L_Thorn.smcp</key>
	<array>
		<string>thorn.smcp</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_U.smcp</key>
	<array>
		<string>u.smcp</string>
		<string>uacute.smcp</string>
		<string>ubreve.smcp</string>
		<string>ucircumflex.smcp</string>
		<string>udieresis.smcp</string>
		<string>ugrave.smcp</string>
		<string>uhungarumlaut.smcp</string>
		<string>umacron.smcp</string>
		<string>uogonek.smcp</string>
		<string>uring.smcp</string>
		<string>utilde.smcp</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>v.smcp</string>
		<string>w.smcp</string>
		<string>wacute.smcp</string>
		<string>wcircumflex.smcp</string>
		<string>wdieresis.smcp</string>
		<string>wgrave.smcp</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_X.smcp</key>
	<array>
		<string>x.smcp</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Y.smcp</key>
	<array>
		<string>y.smcp</string>
		<string>yacute.smcp</string>
		<string>ycircumflex.smcp</string>
		<string>ydieresis.smcp</string>
		<string>ygrave.smcp</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute.loclPLK</string>
	</array>
	<key>@MMK_L_Z.smcp</key>
	<array>
		<string>zacute.loclPLK.smcp</string>
		<string>z.smcp</string>
		<string>zacute.smcp</string>
		<string>zcaron.smcp</string>
		<string>zdotaccent.smcp</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>s_p</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cacute.loclPLK</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gacute</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_germandbls.cap</key>
	<array>
		<string>Germandbls</string>
	</array>
	<key>@MMK_L_germandbls.smcp</key>
	<array>
		<string>germandbls.smcp</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guilsinglleft.cap</key>
	<array>
		<string>guillemotleft.case</string>
		<string>guilsinglleft.case</string>
	</array>
	<key>@MMK_L_guilsinglleft.smcp</key>
	<array>
		<string>guillemotleft.smcp</string>
		<string>guilsinglleft.smcp</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_guilsinglright.cap</key>
	<array>
		<string>guillemotright.case</string>
		<string>guilsinglright.case</string>
	</array>
	<key>@MMK_L_guilsinglright.smcp</key>
	<array>
		<string>guillemotright.smcp</string>
		<string>guilsinglright.smcp</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>T_h.liga</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_L_hyphen.cap</key>
	<array>
		<string>emdash.case</string>
		<string>endash.case</string>
		<string>hyphen.case</string>
	</array>
	<key>@MMK_L_hyphen.smcp</key>
	<array>
		<string>emdash.smcp</string>
		<string>endash.smcp</string>
		<string>hyphen.smcp</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>f_f_i</string>
		<string>f_idieresis.liga</string>
		<string>f_igrave.liga</string>
		<string>fi</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>ij</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>eng</string>
		<string>f_f_j.liga</string>
		<string>f_j.liga</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>f_f_k.liga</string>
		<string>f_k.liga</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>f_f_l</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_ldot</key>
	<array>
		<string>ldot</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>nacute.loclPLK</string>
		<string>f_f_h.liga</string>
		<string>f_h.liga</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>oacute.loclPLK</string>
		<string>f_b.liga</string>
		<string>f_f_b.liga</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sacute.loclPLK</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>c_t</string>
		<string>s_t</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_uni0413</key>
	<array>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
	</array>
	<key>@MMK_L_uni0414</key>
	<array>
		<string>De-cy</string>
		<string>Tse-cy</string>
		<string>Shcha-cy</string>
	</array>
	<key>@MMK_L_uni0415</key>
	<array>
		<string>Ie-cy</string>
		<string>Io-cy</string>
	</array>
	<key>@MMK_L_uni0418</key>
	<array>
		<string>Ii-cy</string>
		<string>ShortI-cy</string>
		<string>Iigrave-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Che-cy</string>
		<string>Sha-cy</string>
		<string>Dzhe-cy</string>
		<string>Ia-cy</string>
		<string>Yeru-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
	</array>
	<key>@MMK_L_uni041A</key>
	<array>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
	</array>
	<key>@MMK_L_uni041E</key>
	<array>
		<string>O-cy</string>
		<string>Ereversed-cy</string>
		<string>Iu-cy</string>
	</array>
	<key>@MMK_L_uni0423</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
	</array>
	<key>@MMK_L_uni042C</key>
	<array>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
	</array>
	<key>@MMK_L_uni0433</key>
	<array>
		<string>ge-cy</string>
		<string>gje-cy</string>
	</array>
	<key>@MMK_L_uni0433.smcp</key>
	<array>
		<string>ge-cy.smcp</string>
		<string>gje-cy.smcp</string>
	</array>
	<key>@MMK_L_uni0434.smcp</key>
	<array>
		<string>de-cy.smcp</string>
		<string>tse-cy.smcp</string>
		<string>shcha-cy.smcp</string>
	</array>
	<key>@MMK_L_uni0435</key>
	<array>
		<string>ie-cy</string>
		<string>io-cy</string>
	</array>
	<key>@MMK_L_uni0435.smcp</key>
	<array>
		<string>ie-cy.smcp</string>
		<string>io-cy.smcp</string>
	</array>
	<key>@MMK_L_uni0438</key>
	<array>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>yeru-cy</string>
	</array>
	<key>@MMK_L_uni0438.smcp</key>
	<array>
		<string>ii-cy.smcp</string>
		<string>iishort-cy.smcp</string>
		<string>iigrave-cy.smcp</string>
		<string>el-cy.smcp</string>
		<string>em-cy.smcp</string>
		<string>en-cy.smcp</string>
		<string>pe-cy.smcp</string>
		<string>che-cy.smcp</string>
		<string>sha-cy.smcp</string>
		<string>dzhe-cy.smcp</string>
		<string>yeru-cy.smcp</string>
		<string>ia-cy.smcp</string>
		<string>i-cy.smcp</string>
		<string>yi-cy.smcp</string>
	</array>
	<key>@MMK_L_uni043A</key>
	<array>
		<string>ka-cy</string>
		<string>kje-cy</string>
	</array>
	<key>@MMK_L_uni043A.smcp</key>
	<array>
		<string>ka-cy.smcp</string>
		<string>kje-cy.smcp</string>
	</array>
	<key>@MMK_L_uni043E</key>
	<array>
		<string>be-cy</string>
		<string>o-cy</string>
		<string>er-cy</string>
		<string>ef-cy</string>
		<string>ereversed-cy</string>
		<string>iu-cy</string>
	</array>
	<key>@MMK_L_uni043E.smcp</key>
	<array>
		<string>o-cy.smcp</string>
		<string>ereversed-cy.smcp</string>
		<string>iu-cy.smcp</string>
	</array>
	<key>@MMK_L_uni043F</key>
	<array>
		<string>pe-cy</string>
		<string>te-cy</string>
		<string>ia-cy</string>
		<string>tshe-cy</string>
	</array>
	<key>@MMK_L_uni0443</key>
	<array>
		<string>u-cy</string>
		<string>ushort-cy</string>
	</array>
	<key>@MMK_L_uni0443.smcp</key>
	<array>
		<string>u-cy.smcp</string>
		<string>ushort-cy.smcp</string>
	</array>
	<key>@MMK_L_uni044C</key>
	<array>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
	</array>
	<key>@MMK_L_uni044C.smcp</key>
	<array>
		<string>softsign-cy.smcp</string>
		<string>hardsign-cy.smcp</string>
		<string>lje-cy.smcp</string>
		<string>nje-cy.smcp</string>
	</array>
	<key>@MMK_L_uni0456</key>
	<array>
		<string>i-cy</string>
		<string>yi-cy</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zacute.loclPLK</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_A.smcp</key>
	<array>
		<string>a.smcp</string>
		<string>aacute.smcp</string>
		<string>abreve.smcp</string>
		<string>acircumflex.smcp</string>
		<string>adieresis.smcp</string>
		<string>agrave.smcp</string>
		<string>amacron.smcp</string>
		<string>aogonek.smcp</string>
		<string>aring.smcp</string>
		<string>atilde.smcp</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_R_AE.smcp</key>
	<array>
		<string>ae.smcp</string>
	</array>
	<key>@MMK_R_C.smcp</key>
	<array>
		<string>cacute.loclPLK.smcp</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Eng</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_R_I.smcp</key>
	<array>
		<string>b.smcp</string>
		<string>d.smcp</string>
		<string>eth.smcp</string>
		<string>dcaron.smcp</string>
		<string>dcroat.smcp</string>
		<string>e.smcp</string>
		<string>eacute.smcp</string>
		<string>ebreve.smcp</string>
		<string>ecaron.smcp</string>
		<string>ecircumflex.smcp</string>
		<string>edieresis.smcp</string>
		<string>edotaccent.smcp</string>
		<string>egrave.smcp</string>
		<string>emacron.smcp</string>
		<string>eogonek.smcp</string>
		<string>f.smcp</string>
		<string>h.smcp</string>
		<string>hbar.smcp</string>
		<string>hcircumflex.smcp</string>
		<string>i.smcp</string>
		<string>iacute.smcp</string>
		<string>ibreve.smcp</string>
		<string>icircumflex.smcp</string>
		<string>idieresis.smcp</string>
		<string>idotaccent.smcp</string>
		<string>igrave.smcp</string>
		<string>imacron.smcp</string>
		<string>iogonek.smcp</string>
		<string>itilde.smcp</string>
		<string>k.smcp</string>
		<string>kcommaaccent.smcp</string>
		<string>l.smcp</string>
		<string>lacute.smcp</string>
		<string>lcaron.smcp</string>
		<string>lcommaaccent.smcp</string>
		<string>lslash.smcp</string>
		<string>m.smcp</string>
		<string>eng.smcp</string>
		<string>p.smcp</string>
		<string>thorn.smcp</string>
		<string>r.smcp</string>
		<string>racute.smcp</string>
		<string>rcaron.smcp</string>
		<string>rcommaaccent.smcp</string>
	</array>
	<key>@MMK_R_IJ</key>
	<array>
		<string>IJ</string>
	</array>
	<key>@MMK_R_IJ.smcp</key>
	<array>
		<string>ij.smcp</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_J.smcp</key>
	<array>
		<string>j.smcp</string>
		<string>jcircumflex.smcp</string>
	</array>
	<key>@MMK_R_Lsmcp</key>
	<array>
		<string>ldot.smcp</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_N.smcp</key>
	<array>
		<string>nacute.loclPLK.smcp</string>
		<string>n.smcp</string>
		<string>nacute.smcp</string>
		<string>ncaron.smcp</string>
		<string>ncommaaccent.smcp</string>
		<string>ntilde.smcp</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gacute</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_O.smcp</key>
	<array>
		<string>c.smcp</string>
		<string>cacute.smcp</string>
		<string>ccaron.smcp</string>
		<string>ccedilla.smcp</string>
		<string>ccircumflex.smcp</string>
		<string>cdotaccent.smcp</string>
		<string>g.smcp</string>
		<string>gacute.smcp</string>
		<string>gbreve.smcp</string>
		<string>gcircumflex.smcp</string>
		<string>gcommaaccent.smcp</string>
		<string>gdotaccent.smcp</string>
		<string>oacute.loclPLK.smcp</string>
		<string>o.smcp</string>
		<string>oacute.smcp</string>
		<string>obreve.smcp</string>
		<string>ocircumflex.smcp</string>
		<string>odieresis.smcp</string>
		<string>ograve.smcp</string>
		<string>ohungarumlaut.smcp</string>
		<string>omacron.smcp</string>
		<string>oslash.smcp</string>
		<string>otilde.smcp</string>
		<string>oe.smcp</string>
	</array>
	<key>@MMK_R_Q</key>
	<array>
		<string>Q</string>
	</array>
	<key>@MMK_R_Q.smcp</key>
	<array>
		<string>q.smcp</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_S.smcp</key>
	<array>
		<string>sacute.loclPLK.smcp</string>
		<string>s.smcp</string>
		<string>sacute.smcp</string>
		<string>scaron.smcp</string>
		<string>scedilla.smcp</string>
		<string>scircumflex.smcp</string>
		<string>scommaaccent.smcp</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>T_h.liga</string>
	</array>
	<key>@MMK_R_T.smcp</key>
	<array>
		<string>t.smcp</string>
		<string>tbar.smcp</string>
		<string>tcaron.smcp</string>
		<string>tcedilla.smcp</string>
		<string>tcommaaccent.smcp</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_U.smcp</key>
	<array>
		<string>u.smcp</string>
		<string>uacute.smcp</string>
		<string>ubreve.smcp</string>
		<string>ucircumflex.smcp</string>
		<string>udieresis.smcp</string>
		<string>ugrave.smcp</string>
		<string>uhungarumlaut.smcp</string>
		<string>umacron.smcp</string>
		<string>uogonek.smcp</string>
		<string>uring.smcp</string>
		<string>utilde.smcp</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>v.smcp</string>
		<string>w.smcp</string>
		<string>wacute.smcp</string>
		<string>wcircumflex.smcp</string>
		<string>wdieresis.smcp</string>
		<string>wgrave.smcp</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_X.smcp</key>
	<array>
		<string>x.smcp</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Y.smcp</key>
	<array>
		<string>y.smcp</string>
		<string>yacute.smcp</string>
		<string>ycircumflex.smcp</string>
		<string>ydieresis.smcp</string>
		<string>ygrave.smcp</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_Z.smcp</key>
	<array>
		<string>zacute.loclPLK.smcp</string>
		<string>z.smcp</string>
		<string>zacute.smcp</string>
		<string>zcaron.smcp</string>
		<string>zdotaccent.smcp</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f_b.liga</string>
		<string>f_f</string>
		<string>f_f_b.liga</string>
		<string>f_f_h.liga</string>
		<string>f_f_i</string>
		<string>f_f_j.liga</string>
		<string>f_f_k.liga</string>
		<string>f_f_l</string>
		<string>f_h.liga</string>
		<string>f_idieresis.liga</string>
		<string>f_igrave.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gacute</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_germandbls.cap</key>
	<array>
		<string>Germandbls</string>
	</array>
	<key>@MMK_R_germandbls.smcp</key>
	<array>
		<string>germandbls.smcp</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guilsinglleft.cap</key>
	<array>
		<string>guillemotleft.case</string>
		<string>guilsinglleft.case</string>
	</array>
	<key>@MMK_R_guilsinglleft.smcp</key>
	<array>
		<string>guillemotleft.smcp</string>
		<string>guilsinglleft.smcp</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_guilsinglright.cap</key>
	<array>
		<string>guillemotright.case</string>
		<string>guilsinglright.case</string>
	</array>
	<key>@MMK_R_guilsinglright.smcp</key>
	<array>
		<string>guillemotright.smcp</string>
		<string>guilsinglright.smcp</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_R_hyphen.cap</key>
	<array>
		<string>emdash.case</string>
		<string>endash.case</string>
		<string>hyphen.case</string>
	</array>
	<key>@MMK_R_hyphen.smcp</key>
	<array>
		<string>emdash.smcp</string>
		<string>endash.smcp</string>
		<string>hyphen.smcp</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>nacute.loclPLK</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>cacute.loclPLK</string>
		<string>oacute.loclPLK</string>
		<string>c_t</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sacute.loclPLK</string>
		<string>s_p</string>
		<string>s_t</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_uni0418</key>
	<array>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>Ie-cy</string>
		<string>Io-cy</string>
		<string>Ii-cy</string>
		<string>ShortI-cy</string>
		<string>Iigrave-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Softsign-cy</string>
		<string>Yeru-cy</string>
		<string>Nje-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Iu-cy</string>
	</array>
	<key>@MMK_R_uni041B</key>
	<array>
		<string>El-cy</string>
		<string>Lje-cy</string>
	</array>
	<key>@MMK_R_uni041E</key>
	<array>
		<string>O-cy</string>
		<string>Es-cy</string>
		<string>E-cy</string>
	</array>
	<key>@MMK_R_uni0422</key>
	<array>
		<string>Te-cy</string>
		<string>Tshe-cy</string>
		<string>Dje-cy</string>
	</array>
	<key>@MMK_R_uni0423</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
	</array>
	<key>@MMK_R_uni0433</key>
	<array>
		<string>ge-cy</string>
		<string>gje-cy</string>
	</array>
	<key>@MMK_R_uni0435</key>
	<array>
		<string>io-cy</string>
	</array>
	<key>@MMK_R_uni0438</key>
	<array>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
	</array>
	<key>@MMK_R_uni0438.smcp</key>
	<array>
		<string>be-cy.smcp</string>
		<string>ve-cy.smcp</string>
		<string>ge-cy.smcp</string>
		<string>gje-cy.smcp</string>
		<string>gheupturn-cy.smcp</string>
		<string>ie-cy.smcp</string>
		<string>io-cy.smcp</string>
		<string>ii-cy.smcp</string>
		<string>iishort-cy.smcp</string>
		<string>iigrave-cy.smcp</string>
		<string>ka-cy.smcp</string>
		<string>kje-cy.smcp</string>
		<string>em-cy.smcp</string>
		<string>en-cy.smcp</string>
		<string>pe-cy.smcp</string>
		<string>er-cy.smcp</string>
		<string>tse-cy.smcp</string>
		<string>sha-cy.smcp</string>
		<string>shcha-cy.smcp</string>
		<string>dzhe-cy.smcp</string>
		<string>softsign-cy.smcp</string>
		<string>yeru-cy.smcp</string>
		<string>nje-cy.smcp</string>
		<string>iu-cy.smcp</string>
		<string>i-cy.smcp</string>
		<string>yi-cy.smcp</string>
	</array>
	<key>@MMK_R_uni043B</key>
	<array>
		<string>el-cy</string>
		<string>lje-cy</string>
	</array>
	<key>@MMK_R_uni043B.smcp</key>
	<array>
		<string>el-cy.smcp</string>
		<string>lje-cy.smcp</string>
	</array>
	<key>@MMK_R_uni043D</key>
	<array>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>en-cy</string>
		<string>pe-cy</string>
		<string>te-cy</string>
		<string>nje-cy</string>
		<string>iu-cy</string>
	</array>
	<key>@MMK_R_uni043E</key>
	<array>
		<string>a-cy</string>
		<string>ve-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>o-cy</string>
		<string>es-cy</string>
		<string>ef-cy</string>
		<string>e-cy</string>
	</array>
	<key>@MMK_R_uni0441.smcp</key>
	<array>
		<string>es-cy.smcp</string>
		<string>e-cy.smcp</string>
	</array>
	<key>@MMK_R_uni0442.smcp</key>
	<array>
		<string>te-cy.smcp</string>
		<string>dje-cy.smcp</string>
		<string>tshe-cy.smcp</string>
	</array>
	<key>@MMK_R_uni0443</key>
	<array>
		<string>u-cy</string>
		<string>ushort-cy</string>
	</array>
	<key>@MMK_R_uni0443.smcp</key>
	<array>
		<string>u-cy.smcp</string>
		<string>ushort-cy.smcp</string>
	</array>
	<key>@MMK_R_uni044C</key>
	<array>
		<string>softsign-cy</string>
		<string>yeru-cy</string>
	</array>
	<key>@MMK_R_uni0456</key>
	<array>
		<string>i-cy</string>
		<string>yi-cy</string>
	</array>
	<key>@MMK_R_uni045B</key>
	<array>
		<string>dje-cy</string>
		<string>tshe-cy</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zacute.loclPLK</string>
	</array>
	<key>Uppercase</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gacute</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Germandbls</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Cacute.loclPLK</string>
		<string>Nacute.loclPLK</string>
		<string>Oacute.loclPLK</string>
		<string>Sacute.loclPLK</string>
		<string>Zacute.loclPLK</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Ii-cy</string>
		<string>ShortI-cy</string>
		<string>Iigrave-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Ia-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Dze-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Tshe-cy</string>
		<string>Iu-cy</string>
		<string>Dje-cy</string>
		<string>Delta</string>
		<string>Omega</string>
	</array>
</dict>
</plist>
