<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>773</integer>
	<key>capHeight</key>
	<integer>708</integer>
	<key>copyright</key>
	<string>Copyright 2017 The Playfair Display Project Authors (https://github.com/clauseggers/Playfair-Display), with Reserved Font Name "Playfair Display".</string>
	<key>descender</key>
	<integer>-181</integer>
	<key>familyName</key>
	<string>Playfair Display</string>
	<key>note</key>
	<string>Playfair Display is a transitional design. From the time of enlightenment in the late 18th century, the broad nib quills were replaced by pointed steel pens. This influenced typographical letterforms to become increasingly detached from the written ones. Developments in printing technology, ink and paper making, made it possible to print letterforms of high contrast and fine hairlines.

This design lends itself to this period, and while it is not a revival of any particular design, it take influence from the printer and typeface designer John Baskerville’s designs, the punch-cutter William Martin’s typeface for the “Boydell Shakespeare” (sic) edition, and from the “Scotch Roman” designs that followed thereafter.

As the name indicates, Playfair Display is well suited for titling and headlines. It has an extra large x-height and short descenders, that enable it to be set with no leading. Stylistically it can accompany Georgia when Georgia is used for body text.

Playfair includes a full set of small-caps, common ligatures, and discretionary ligatures. For Polish, a set of alternate diacritical characters designed with ‘kreska’s are included. All European languages using the latin script are supported. A set of eight arrow devices are also included.</string>
	<key>openTypeHeadCreated</key>
	<string>2017/10/30 22:51:08</string>
	<key>openTypeHheaAscender</key>
	<integer>1342</integer>
	<key>openTypeHheaDescender</key>
	<integer>-311</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Claus Eggers Sørensen</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.forthehearts.net</string>
	<key>openTypeNameManufacturer</key>
	<string>Claus Eggers Sørensen</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.forthehearts.net</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Playfair Display</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1342</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>312</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>FTH</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1166</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>244</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-30</integer>
		<integer>0</integer>
		<integer>514</integer>
		<integer>544</integer>
		<integer>608</integer>
		<integer>638</integer>
		<integer>708</integer>
		<integer>738</integer>
		<integer>758</integer>
		<integer>788</integer>
	</array>
	<key>postscriptFontName</key>
	<string>PlayfairDisplay-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-201</integer>
		<integer>-171</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>20</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>23</integer>
		<integer>90</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Playfair is a trademark of Claus Eggers Sørensen.</string>
	<key>unitsPerEm</key>
	<integer>1240</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>202</integer>
	<key>xHeight</key>
	<integer>514</integer>
</dict>
</plist>
