<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.disablesLastChange</key>
	<true/>
	<key>com.schriftgestaltung.font.Disable Last Change</key>
	<true/>
	<key>com.schriftgestaltung.font.Use Line Breaks</key>
	<true/>
	<key>com.schriftgestaltung.font.Use Typo Metrics</key>
	<true/>
	<key>com.schriftgestaltung.font.license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>UUID0</key>
			<dict>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>UUID0</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>90</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>uni01B7</string>
		<string>uni01EE</string>
		<string>F</string>
		<string>G</string>
		<string>uni01F4</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>uni01E4</string>
		<string>H</string>
		<string>Hbar</string>
		<string>uni021E</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>uni01E8</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E9E</string>
		<string>uni018F</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Iacute_J.loclNLD</string>
		<string>Cacute.loclPLK</string>
		<string>Nacute.loclPLK</string>
		<string>Oacute.loclPLK</string>
		<string>Sacute.loclPLK</string>
		<string>Zacute.loclPLK</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni01CE</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>uni0292</string>
		<string>uni01EF</string>
		<string>f</string>
		<string>g</string>
		<string>uni01F5</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>uni01E5</string>
		<string>h</string>
		<string>hbar</string>
		<string>uni021F</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>uni01E9</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>iacute_j.loclNLD</string>
		<string>cacute.loclPLK</string>
		<string>nacute.loclPLK</string>
		<string>oacute.loclPLK</string>
		<string>sacute.loclPLK</string>
		<string>zacute.loclPLK</string>
		<string>T_h</string>
		<string>c_t</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>s_p</string>
		<string>s_t</string>
		<string>f_b.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_h.liga</string>
		<string>f_f_j.liga</string>
		<string>f_f_k.liga</string>
		<string>f_h.liga</string>
		<string>f_idieresis.liga</string>
		<string>f_igrave.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>longs_t.liga</string>
		<string>longs_h.liga</string>
		<string>longs_i.liga</string>
		<string>longs_l.liga</string>
		<string>longs_longs.liga</string>
		<string>longs_longs_h.liga</string>
		<string>longs_longs_i.liga</string>
		<string>longs_longs_l.liga</string>
		<string>longs_longs_t.liga</string>
		<string>iacute_j.smcp.loclNLD</string>
		<string>a.smcp</string>
		<string>aacute.smcp</string>
		<string>abreve.smcp</string>
		<string>uni1EAF.smcp</string>
		<string>uni1EB7.smcp</string>
		<string>uni1EB1.smcp</string>
		<string>uni1EB3.smcp</string>
		<string>uni1EB5.smcp</string>
		<string>uni01CE.smcp</string>
		<string>acircumflex.smcp</string>
		<string>uni1EA5.smcp</string>
		<string>uni1EAD.smcp</string>
		<string>uni1EA7.smcp</string>
		<string>uni1EA9.smcp</string>
		<string>uni1EAB.smcp</string>
		<string>adieresis.smcp</string>
		<string>uni1EA1.smcp</string>
		<string>agrave.smcp</string>
		<string>uni1EA3.smcp</string>
		<string>amacron.smcp</string>
		<string>aogonek.smcp</string>
		<string>aring.smcp</string>
		<string>atilde.smcp</string>
		<string>ae.smcp</string>
		<string>b.smcp</string>
		<string>c.smcp</string>
		<string>cacute.smcp</string>
		<string>ccaron.smcp</string>
		<string>ccedilla.smcp</string>
		<string>ccircumflex.smcp</string>
		<string>cdotaccent.smcp</string>
		<string>d.smcp</string>
		<string>eth.smcp</string>
		<string>dcaron.smcp</string>
		<string>dcroat.smcp</string>
		<string>e.smcp</string>
		<string>eacute.smcp</string>
		<string>ebreve.smcp</string>
		<string>ecaron.smcp</string>
		<string>ecircumflex.smcp</string>
		<string>uni1EBF.smcp</string>
		<string>uni1EC7.smcp</string>
		<string>uni1EC1.smcp</string>
		<string>uni1EC3.smcp</string>
		<string>uni1EC5.smcp</string>
		<string>edieresis.smcp</string>
		<string>edotaccent.smcp</string>
		<string>uni1EB9.smcp</string>
		<string>egrave.smcp</string>
		<string>uni1EBB.smcp</string>
		<string>emacron.smcp</string>
		<string>eogonek.smcp</string>
		<string>uni1EBD.smcp</string>
		<string>uni0259.smcp</string>
		<string>uni0292.smcp</string>
		<string>uni01EF.smcp</string>
		<string>f.smcp</string>
		<string>g.smcp</string>
		<string>uni01F5.smcp</string>
		<string>gbreve.smcp</string>
		<string>gcaron.smcp</string>
		<string>gcircumflex.smcp</string>
		<string>uni0123.smcp</string>
		<string>gdotaccent.smcp</string>
		<string>uni01E5.smcp</string>
		<string>h.smcp</string>
		<string>hbar.smcp</string>
		<string>uni021F.smcp</string>
		<string>hcircumflex.smcp</string>
		<string>i.smcp</string>
		<string>iacute.smcp</string>
		<string>ibreve.smcp</string>
		<string>icircumflex.smcp</string>
		<string>idieresis.smcp</string>
		<string>i.loclTRK.smcp</string>
		<string>uni1ECB.smcp</string>
		<string>igrave.smcp</string>
		<string>uni1EC9.smcp</string>
		<string>ij.smcp</string>
		<string>imacron.smcp</string>
		<string>iogonek.smcp</string>
		<string>itilde.smcp</string>
		<string>j.smcp</string>
		<string>jcircumflex.smcp</string>
		<string>k.smcp</string>
		<string>uni01E9.smcp</string>
		<string>uni0137.smcp</string>
		<string>l.smcp</string>
		<string>lacute.smcp</string>
		<string>lcaron.smcp</string>
		<string>uni013C.smcp</string>
		<string>ldot.smcp</string>
		<string>cacute.loclPLK.smcp</string>
		<string>nacute.loclPLK.smcp</string>
		<string>oacute.loclPLK.smcp</string>
		<string>sacute.loclPLK.smcp</string>
		<string>zacute.loclPLK.smcp</string>
		<string>lslash.smcp</string>
		<string>m.smcp</string>
		<string>n.smcp</string>
		<string>nacute.smcp</string>
		<string>ncaron.smcp</string>
		<string>uni0146.smcp</string>
		<string>eng.smcp</string>
		<string>ntilde.smcp</string>
		<string>o.smcp</string>
		<string>oacute.smcp</string>
		<string>obreve.smcp</string>
		<string>ocircumflex.smcp</string>
		<string>uni1ED1.smcp</string>
		<string>uni1ED9.smcp</string>
		<string>uni1ED3.smcp</string>
		<string>uni1ED5.smcp</string>
		<string>uni1ED7.smcp</string>
		<string>odieresis.smcp</string>
		<string>uni1ECD.smcp</string>
		<string>ograve.smcp</string>
		<string>uni1ECF.smcp</string>
		<string>ohorn.smcp</string>
		<string>uni1EDB.smcp</string>
		<string>uni1EE3.smcp</string>
		<string>uni1EDD.smcp</string>
		<string>uni1EDF.smcp</string>
		<string>uni1EE1.smcp</string>
		<string>ohungarumlaut.smcp</string>
		<string>omacron.smcp</string>
		<string>oslash.smcp</string>
		<string>oslashacute.smcp</string>
		<string>otilde.smcp</string>
		<string>oe.smcp</string>
		<string>p.smcp</string>
		<string>thorn.smcp</string>
		<string>q.smcp</string>
		<string>r.smcp</string>
		<string>racute.smcp</string>
		<string>rcaron.smcp</string>
		<string>uni0157.smcp</string>
		<string>s.smcp</string>
		<string>sacute.smcp</string>
		<string>scaron.smcp</string>
		<string>scedilla.smcp</string>
		<string>scircumflex.smcp</string>
		<string>uni0219.smcp</string>
		<string>germandbls.smcp</string>
		<string>t.smcp</string>
		<string>tbar.smcp</string>
		<string>tcaron.smcp</string>
		<string>uni0163.smcp</string>
		<string>uni021B.smcp</string>
		<string>u.smcp</string>
		<string>uacute.smcp</string>
		<string>ubreve.smcp</string>
		<string>uni01D4.smcp</string>
		<string>ucircumflex.smcp</string>
		<string>udieresis.smcp</string>
		<string>uni1EE5.smcp</string>
		<string>ugrave.smcp</string>
		<string>uni1EE7.smcp</string>
		<string>uhorn.smcp</string>
		<string>uni1EE9.smcp</string>
		<string>uni1EF1.smcp</string>
		<string>uni1EEB.smcp</string>
		<string>uni1EED.smcp</string>
		<string>uni1EEF.smcp</string>
		<string>uhungarumlaut.smcp</string>
		<string>umacron.smcp</string>
		<string>uogonek.smcp</string>
		<string>uring.smcp</string>
		<string>utilde.smcp</string>
		<string>v.smcp</string>
		<string>w.smcp</string>
		<string>wacute.smcp</string>
		<string>wcircumflex.smcp</string>
		<string>wdieresis.smcp</string>
		<string>wgrave.smcp</string>
		<string>x.smcp</string>
		<string>y.smcp</string>
		<string>yacute.smcp</string>
		<string>ycircumflex.smcp</string>
		<string>ydieresis.smcp</string>
		<string>uni1EF5.smcp</string>
		<string>ygrave.smcp</string>
		<string>uni1EF7.smcp</string>
		<string>uni1EF9.smcp</string>
		<string>z.smcp</string>
		<string>zacute.smcp</string>
		<string>zcaron.smcp</string>
		<string>zdotaccent.smcp</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0402</string>
		<string>uni0462</string>
		<string>uni046A</string>
		<string>uni0492</string>
		<string>uni0496</string>
		<string>uni049A</string>
		<string>uni04A2</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04BA</string>
		<string>uni04C9</string>
		<string>uni04D8</string>
		<string>uni04E8</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni045B</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0452</string>
		<string>uni0463</string>
		<string>uni046B</string>
		<string>uni0493</string>
		<string>uni0497</string>
		<string>uni049B</string>
		<string>uni04A3</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
		<string>uni04BB</string>
		<string>uni04CA</string>
		<string>uni04D9</string>
		<string>uni04E9</string>
		<string>uni0431.srb</string>
		<string>uni0430.smcp</string>
		<string>uni0431.smcp</string>
		<string>uni0432.smcp</string>
		<string>uni0433.smcp</string>
		<string>uni0453.smcp</string>
		<string>uni0491.smcp</string>
		<string>uni0434.smcp</string>
		<string>uni0435.smcp</string>
		<string>uni0450.smcp</string>
		<string>uni0451.smcp</string>
		<string>uni0436.smcp</string>
		<string>uni0437.smcp</string>
		<string>uni0438.smcp</string>
		<string>uni0439.smcp</string>
		<string>uni045D.smcp</string>
		<string>uni043A.smcp</string>
		<string>uni045C.smcp</string>
		<string>uni043B.smcp</string>
		<string>uni043C.smcp</string>
		<string>uni043D.smcp</string>
		<string>uni043E.smcp</string>
		<string>uni043F.smcp</string>
		<string>uni0440.smcp</string>
		<string>uni0441.smcp</string>
		<string>uni0442.smcp</string>
		<string>uni0443.smcp</string>
		<string>uni045E.smcp</string>
		<string>uni0444.smcp</string>
		<string>uni0445.smcp</string>
		<string>uni0447.smcp</string>
		<string>uni0446.smcp</string>
		<string>uni0448.smcp</string>
		<string>uni0449.smcp</string>
		<string>uni045F.smcp</string>
		<string>uni044C.smcp</string>
		<string>uni044A.smcp</string>
		<string>uni044B.smcp</string>
		<string>uni0459.smcp</string>
		<string>uni045A.smcp</string>
		<string>uni0455.smcp</string>
		<string>uni0454.smcp</string>
		<string>uni044D.smcp</string>
		<string>uni0456.smcp</string>
		<string>uni0457.smcp</string>
		<string>uni0458.smcp</string>
		<string>uni045B.smcp</string>
		<string>uni044E.smcp</string>
		<string>uni044F.smcp</string>
		<string>uni0452.smcp</string>
		<string>uni0463.smcp</string>
		<string>uni046B.smcp</string>
		<string>uni0493.smcp</string>
		<string>uni0497.smcp</string>
		<string>uni049B.smcp</string>
		<string>uni04A3.smcp</string>
		<string>uni04AF.smcp</string>
		<string>uni04B1.smcp</string>
		<string>uni04BB.smcp</string>
		<string>uni04CA.smcp</string>
		<string>uni04D9.smcp</string>
		<string>uni04E9.smcp</string>
		<string>uni0394</string>
		<string>uni03A9</string>
		<string>uni03BC</string>
		<string>pi</string>
		<string>uni212B</string>
		<string>uni212A</string>
		<string>uni212B.smcp</string>
		<string>uni212A.smcp</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>zero.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>exclamdown.case</string>
		<string>questiondown.case</string>
		<string>periodcentered.case</string>
		<string>bullet.case</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft.case</string>
		<string>parenright.case</string>
		<string>braceleft.case</string>
		<string>braceright.case</string>
		<string>bracketleft.case</string>
		<string>bracketright.case</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni2010</string>
		<string>underscore</string>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
		<string>uni2010.case</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>guillemotleft.case</string>
		<string>guillemotright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>hyphen.smcp</string>
		<string>endash.smcp</string>
		<string>emdash.smcp</string>
		<string>parenleft.smcp</string>
		<string>parenright.smcp</string>
		<string>braceleft.smcp</string>
		<string>braceright.smcp</string>
		<string>bracketleft.smcp</string>
		<string>bracketright.smcp</string>
		<string>exclam.smcp</string>
		<string>exclamdown.smcp</string>
		<string>question.smcp</string>
		<string>questiondown.smcp</string>
		<string>periodcentered.smcp</string>
		<string>bullet.smcp</string>
		<string>guillemotleft.smcp</string>
		<string>guillemotright.smcp</string>
		<string>guilsinglleft.smcp</string>
		<string>guilsinglright.smcp</string>
		<string>uni2010.smcp</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2009</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>florin</string>
		<string>uni20B9</string>
		<string>sterling</string>
		<string>yen</string>
		<string>uni2052</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>infinity</string>
		<string>integral</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>asciitilde.case</string>
		<string>arrowup</string>
		<string>uni2197</string>
		<string>arrowright</string>
		<string>uni2198</string>
		<string>arrowdown</string>
		<string>uni2199</string>
		<string>arrowleft</string>
		<string>uni2196</string>
		<string>arrowboth</string>
		<string>lozenge</string>
		<string>filledbox</string>
		<string>uni25A1</string>
		<string>filledbox.case</string>
		<string>uni25A1.case</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>uni2105</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uni2116</string>
		<string>asciicircum</string>
		<string>minute</string>
		<string>second</string>
		<string>at.case</string>
		<string>asciicircum.case</string>
		<string>filledbox.smcp</string>
		<string>uni25A1.smcp</string>
		<string>at.smcp</string>
		<string>ampersand.smcp</string>
		<string>paragraph.smcp</string>
		<string>section.smcp</string>
		<string>asciicircum.smcp</string>
		<string>cent.smcp</string>
		<string>currency.smcp</string>
		<string>dollar.smcp</string>
		<string>Euro.smcp</string>
		<string>asciitilde.smcp</string>
		<string>uni20B9.smcp</string>
		<string>sterling.smcp</string>
		<string>yen.smcp</string>
		<string>florin.smcp</string>
		<string>uni02BC</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>hookabovecomb</string>
		<string>dotbelowcomb</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0335</string>
		<string>uni0335.smcp</string>
		<string>uni0337</string>
		<string>uni0338</string>
		<string>uni0338.smcp</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni0308.case</string>
		<string>uni0307.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni030B.case</string>
		<string>uni0302.case</string>
		<string>uni030C.case</string>
		<string>uni0306.case</string>
		<string>uni030A.case</string>
		<string>tildecomb.case</string>
		<string>uni0304.case</string>
		<string>hookabovecomb.case</string>
		<string>uni0326.case</string>
		<string>uni0327.case</string>
		<string>uni0328.case</string>
		<string>acutecomb.loclPLK.case</string>
		<string>acutecomb.loclPLK</string>
		<string>uni0308.smcp</string>
		<string>uni0307.smcp</string>
		<string>gravecomb.smcp</string>
		<string>acutecomb.smcp</string>
		<string>uni030B.smcp</string>
		<string>uni0302.smcp</string>
		<string>uni030C.smcp</string>
		<string>uni0306.smcp</string>
		<string>uni0304.smcp</string>
		<string>uni0326.smcp</string>
		<string>uni0327.smcp</string>
		<string>uni0328.smcp</string>
		<string>acutecomb.loclPLK.smcp</string>
		<string>ring.smcp</string>
		<string>tilde.smcp</string>
		<string>strokelongoverlaycomb.case</string>
		<string>strokelongoverlaycomb.smcp</string>
		<string>brevecy</string>
		<string>brevecy.case</string>
		<string>brevecy.smcp</string>
		<string>NULL</string>
		<string>hacek</string>
		<string>hacek.case</string>
		<string>hacek.smcp</string>
		<string>slashL</string>
		<string>slashl</string>
		<string>slashL.smcp</string>
	</array>
</dict>
</plist>
