{
displayStrings = (
"a /_part.LC-baseline-right-outserif/_f_adieresis.ligature",
"/_LC-hardsign-cy-upper ъ/_LC-softsign-cy-loclBGR-bowl/hardsign-cy.loclBGR/_part.LC-softsign-cy-bowl ъѣ",
"/_part.LC-softsign-cy-bowl/_part.LC-xheight-upper-stem ь/_LC-hardsign-cy-upper ъљњ/_LC-ascender-left-inserif/_LC-yat-cy-upper ъѣ"
);
}
