{
displayStrings = (
"/_part.LC-baseline-stroke/T_h.ss10 ɪhħꜧɦılmnɲƞŋr/heng.cv01/nhookleft.cv01/eng.cv01/f_adieresis.liga/f_b.liga/f_h.liga/f_idieresis.liga/f_igrave.liga/f_j.liga/f_odieresis.liga/f_thorn.liga/f_t.liga/f_udieresis.liga/f_ydieresis.liga ﬁ/longs_h.liga/longs_i.liga/longs_t.liga/f_j.liga.cv01 гґғинтђ/zhe-cy.loclBGR/_LC-f-stem/_LC-f_l/_LC-f_l_/__f_h1st-stroke-liga_/__fl-liga/_f_adieresis.ligature/_f_b.ligature/_f_i.ligature/_f_idieresis.ligature/_f_igrave.ligature/_f_j.ligature/_f_odieresis.ligature/_f_t.ligature/_f_thorn.ligature/_f_udieresis.ligature/_f_ydieresis.ligature/_longs_i.ligature/_longs_t.liga/f-fina.ligature/longs-fina.ligature/_f_j.ligature.cv01 rrŗ"
);
}
