{
displayStrings = (
"ґлнпт/_hook-cy цчш",
"/_hook-cy цщжҗқңҳ/x.ss13/ha-cy.ss13/hadescender-cy.ss13",
"/_hook-cy ъz",
"везє/ve-cy.loclBGR/de-cy.loclBGR/ze-cy.loclBGR з",
"ѫ",
"oooбooo",
"nnм/el-cy.loclBGR yxnn
nnn/el-cy.loclBGR nnn",
"᷇᷅᷄᷆/acutemacroncomb.case/gravemacroncomb.case/macronacutecomb.case/macrongravecomb.case",
"/_hook-cy җ/_zhe-cy-hook"
);
}
