{
displayStrings = (
"ґлнпт/_hook-cy цчш",
"/_hook-cy цщжҗқңҳ/x.ss13/ha-cy.ss13/hadescender-cy.ss13",
"/_hook-cy ъz",
"везє/ve-cy.loclBGR/de-cy.loclBGR/ze-cy.loclBGR з",
"ѫ",
"oooбooo",
"nnм/el-cy.loclBGR yxnn
nnn/el-cy.loclBGR nnn",
"᷇᷅᷄᷆/acutemacroncomb.case/gravemacroncomb.case/macronacutecomb.case/macrongravecomb.case",
"/_hook-cy җ/_zhe-cy-hook",
"s/_LC-descender-normal-wide/_LC-xheight-left-instroke p/_s-dlig-connecting-stroke/_LC-p-dlig-instroke/_p-dlig/s_p sp
s/_LC-t-outstroke/_LC-t-ascender t/s_t st
/_part.LC-c ct/_c-t-dlig-connecting-stroke/c_t ct",
"/_LC-t-outstroke tŧťţṱțⱦṫṭṯ/c_t/_s-dlig-connecting-stroke/s_t",
"Schifffahrt
Schi/f_f_f.liga ahrt"
);
}
