{
displayStrings = (
"",
"/_UC-Zhe-cy-wings/_SMCP-zhe-cy-wings Ж/zhe-cy.smcp 
/_UC-Zhe-cy-wings Ѫ/_UC-Zhe-cy-wings/_UC-Zhedescender-cy-wings Җ/_SMCP-zhe-cy-wings Ѫ/yusbig-cy.smcp/_SMCP-zhe-cy-wings/_SMCP-zhedescender-cy-wings/zhedescender-cy.smcp 
/_UC-Zhe-cy-wings/_UC-Ya-cy-upper Я/_SMCP-zhe-cy-wings Я/ya-cy.smcp",
"/_UC-Ef-cy-bowl Ф/_part.UC-J-descender/_UC-J-stroke/_UC-J-upper J/_part.SMCP-J-descender/_SMCP-J-stroke/_SMCP-J-upper/j.smcp/_UC-Ef-cy-bowl/_SMCP-ef-cy-bowl/ef-cy.smcp Ф",
"ɡ/ze-cy.loclBGR ɡ/ze-cy.loclBGR/g.ss05/de-cy.loclBGR/_LC-monocameral-g-descender/ze-cy.loclBGR",
"ll/ve-cy.loclBGR lb",
"/_LC-geupturn-cy-upper/_LC-baseline-outstroke ґ",
"/_LC-dje-arch ђ/_LC-monocameral-g-descender ɡ/de-cy.loclSRB/u-cy.ss06",
"̄/ge-cy.loclSRB/pe-cy.loclSRB/te-cy.loclSRB",
"Л/_UC-El-cy-upper Љ/_LC-el-cy-body л /_corner.LC-right-serif/_LC-el-cy-body.loclSRB љ/_LC-baseline-outstroke",
"/_corner.LC-right-serif ɪѫү/_LC-descender-normal-wide/_LC-descender-wide-normal/_LC-el-cy-body.loclSRB",
"/tooth-cy џџ",
"л/_LC-el-cy-body.loclSRB љ/_LC-ya-cy-body я",
"oбo",
"авe/_part.LC-ge-cy-body oгғ",
"oд",
"z/_hook-cy җқңҳӊ/hadescender-cy.ss13",
"/_cap.flag-ascender  /brevecomb-cy йў/brevecomb-cy.case",
"ъo",
"/_LC-yu-cy-iota/_yu-cy-o ю/yu-cy.loclBGR",
"/_LC-softsign-cy-bowl ьъљњ"
);
}
