{
displayStrings = (
"­Ǻĺ1g̦x̃",
"/_LC-en-cy_upper инпцшщџ",
"/_LC-en-cy_upper  инп/_tse-dzhe-cy_base цџ ңӊњ
/_LC-sha-cy-base шщ",
"/_UC-Ii-cy ИH/_UC-H-upper HНП/_UC-Pe-cy-upper/_UC-Tse-Dzhe-cy_upper/_UC-Tse-cy_lower/_UC-Dzhe-cy_lower ЦЏ",
"/_SMCP-ii-cy/ii-cy.smcp/_SMCP-H-upper/h.smcp/en-cy.smcp/_SMCP-pe-cy-upper/pe-cy.smcp/tse-cy.smcp/dzhe-cy.smcp"
);
}
