{
displayStrings = (
"/_LC-en-cy_upper и/_LC-en-cy_upper нпцшщџ",
"/_LC-en-cy_upper  и/_part.LC-baseline-stroke/_part.LC-baseline-stroke-cy/_LC-en-cy_upper нп/_tse-dzhe-cy_base цџ ңӊњ
/_LC-sha-cy-base шщ",
"/_UC-Ii-cy ИH/_UC-H-upper HНП/_UC-Pe-cy-upper/_UC-Tse-Dzhe-cy_upper/_UC-Tse-cy_lower/_UC-Dzhe-cy_lower ЦЏ",
"/_SMCP-ii-cy/ii-cy.smcp/_SMCP-H-upper/h.smcp/en-cy.smcp/pe-cy.smcp/_SMCP-pe-cy-upper/_SMCP-tse-dzhe-cy-upper/_SMCP-tse-cy-lower/_SMCP-dzhe-cy_lower/tse-cy.smcp/dzhe-cy.smcp",
"/_LC-en-cy_upper/_part.LC-baseline-stroke нњңӊ",
"цnн/_corner.LC-serif-el-cy/_LC-el-cy-upper/_LC-de-cy-upper/_LC-de-cy-descender/_LC-descender-cy-serifless дндлннnпџ",
"/_LC-descender-cy-serifless/_LC-de-cy-upper дцщ/tse-cy.loclBGR/shcha-cy.loclBGR",
"/_LC-de-cy-upper нднлнn
Н/_corner.LC-serif-el-cy/_corner.UC-serif-el-cy/_UC-De-cy-upper/_UC-El-cy-upper/_UC-De-cy-descender ДЛНДН
/en-cy.smcp/_UC-De-cy-upper/_SMCP-De-cy-upper/de-cy.smcp/_UC-El-cy-upper/_SMCP-el-cy-upper/el-cy.smcp/en-cy.smcp",
"/_UC-De-cy-descender/_UC-De-cy-upper.loclBGR/De-cy.loclBGR/_UC-De-cy-descender/_SMCP-De-cy-upper.loclBGR/De-cy.loclBGR/de-cy.loclBGR.smcp",
"sз/ze-cy.loclBGR в",
"чи/_LC-en-cy_upper н",
"a/_part.LC-softsign-cy-bowl ьыъљњѣ
/_part.LC-softsign-cy-bowl ьъљњ",
"вз/_LC-e-middlestroke-cy/_e-corpus-cy/_LC-e-middlestroke-cy є/_ereversed-corpus-cy єэ",
"/_part.LC-xheight-upper-stem/_part.LC-baseline-lower-stem жҗ/zhe-cy.ss15/zhedescender-cy.ss15 к
/_part._zhe-cy-wings/_part.LC-xheight-upper-stem жѫ/_part.LC-baseline-lower-stem/yusbig-cy.ss15",
"ѫ",
"БВЕРЬЫЪЉЊ"
);
}
