{
displayStrings = (
"/_UC-K-wing KКЌЖ/_UC-Zhe-cy-wings/_UC-Zhedescender-cy-wings/_UC-Kadescender-cy-wing/_UC-descender-cy/_ha_descender-cy  /_UC-Zhedescender-cy-wings_ss15/_UC-Kadescender-cy-wing_ss15 ҖҚ /_UC-Ka-cy-wings_ss15/Ka-cy.ss15/Kje-cy.ss15/_UC-Zhe-cy-wings_ss15/Zhe-cy.ss15/_UC-Zhedescender-cy-wings_ss15/Zhedescender-cy.ss15/_UC-Kadescender-cy-wing_ss15/Kadescender-cy.ss15  /Zhe-cy.loclBGR 
/_SMCP-K-wing/k.smcp/ka-cy.smcp/kje-cy.smcp/_SMCP-zhe-cy-wings  /_SMCP-zhedescender-cy-wings/zhe-cy.smcp/zhedescender-cy.smcp/_UC-Kadescender-cy-wing/_SMCP-kadescender-cy-wing Қ/kadescender-cy.smcp  /_SMCP-ka-cy-wings_ss15/ka-cy.smcp.ss15/kje-cy.smcp.ss15/_SMCP-zhe-cy-wings_ss15/zhe-cy.smcp.ss15/_SMCP-zhedescender-cy-wings_ss15/zhedescender-cy.smcp.ss15/_SMCP-kadescender-cy-wings_ss15/kadescender-cy.smcp.ss15  /zhe-cy.loclBGR.smcp 
/_part.LC-ka-cy-wings_ss15/_part._LC-k-legs/_part._zhe-cy-wings/_LC-baseline-normal-narrow ĸ/_part.LC-baseline-lower-stem/_part.LC-baseline-lower-stem кќ/_part._zhe-cy-wings жҗ/_part._zhe-cy-wings/_part._LC-k-legs қ /_part.LC-ka-cy-wings_ss15/ka-cy.ss15/kje-cy.ss15/zhe-cy.ss15/zhedescender-cy.ss15/_part.LC-ka-cy-wings_ss15/_part.LC-ka-cy-wings_ss15/kadescender-cy.ss15  /zhe-cy.loclBGR",
"/_part.LC-left-bowl b/_LC-softsign-cy-loclBGR-bowl/_LC-baseline-left-instroke/_part.LC-left-bowl/_LC-baseline-left-instroke/softsign-cy.loclBGR/hardsign-cy.loclBGR b/_part.LC-left-bowl/_ve-cy.loclBGR_bowls/ve-cy.loclBGR",
"/ii-cy.loclBGR/iishort-cy.loclBGR/iigrave-cy.loclBGR",
"/ze-cy.loclBGR",
"/El-cy.loclBGR/_UC-De-cy-upper.loclBGR/_UC-descender-cy/_UC-De-cy-descender Ц/De-cy.loclBGR/de-cy.loclBGR.smcp/el-cy.loclBGR.smcp",
"/iigrave-cy.loclBGR",
"/_part.UC-T-top-bar/_UC-T-upper ꞮЋЂ
HHHTHHH
HHHLHHH
HHHГHHH
HHHЪЋHH
",
"dq/_ef-cy_bowls/_part._ef-cy_stem ф/_part.LC-left-bowl pb",
"/_part.LC-te-cy-bar/_LC-te-cy-upper/_LC-yat-cy-upper ѣ/_LC-te-cy-upper т",
"Пър/_ve-cy.loclBGR_bowls вата",
"мs/_part.LC-te-cy-bar/_LC-te-cy-upper т
б/_part.LC-softsign-cy-bowl ьыла",
"ү",
"/_UC-Hardsign-cy-stem Ъ/hardsign-cy.smcp/_SMCP-hardsign-cy-stem",
"C/_Ereversed-corpus-cy/_UC-E-cy-middlestroke ЄЭ
/_SMCP-e-cy-middlestroke/_Ereversed-corpus-cy.smcp/e-cy.smcp/ereversed-cy.smcp 
З/ze-cy.smcp",
"/Ef-cy.loclBGR/ef-cy.loclBGR.smcp",
"/_cap.UC-beak/_UC-Gheupturn-cy-upper Ґ/_SMCP-gheupturn-cy-upper/geupturn-cy.smcp/_cap.UC-beak/_cap.LC-beak/_LC-gheupturn-cy-upper ґ",
"DPФ/ef-cy.smcp/Ef-cy.loclBGR/ef-cy.loclBGR.smcp",
"/_ereversed-corpus-cy ээ́ яя́ /_part.LC-softsign-cy-bowl/_part._LC-hardsign-cy-upper ъ̀
эяъ",
"/be-cy.loclSRB",
"/_UC-Dzhe-cy_lower/_SMCP-dzhe-cy_lower Џ/_UC-Dzhe-tail-cy/_tse-dzhe-cy_base џ/_SMCP-dzhe-cy_lower/dzhe-cy.smcp 
Џ/dzhe-cy.smcp џ",
"Ћ/tshe-cy.smcp Ђ/dje-cy.smcp",
"/_UC-descender-cy ЦЩЏ/_UC-Zhedescender-cy-wings Җ/_UC-Kadescender-cy-wing Қ/_UC-bottom-stem-narrow-descender-cy Ң/_ha_descender-cy ҲӉ/_UC-De-cy-descender/De-cy.loclBGR/_UC-Zhedescender-cy-wings_ss15/Zhedescender-cy.ss15/_UC-Kadescender-cy-wing_ss15/Kadescender-cy.ss15",
"цщ/_UC-Dzhe-tail-cy џ/_part._zhe-cy-wings/_part._zhe-cy-wings/_part._zhe-cy-wings җ/_part._LC-k-legs кқ/_cap.LC-beak/_LC-descender-cy-inner-serif ңҳӊ/tse-cy.loclBGR/shcha-cy.loclBGR/zhedescender-cy.ss15/kadescender-cy.ss15"
);
}
