<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Cacute.loclPLK</key>
	<string>Cacute_.loclPLK_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>Euro.smcp</key>
	<string>Euro_.smcp.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gacute</key>
	<string>Gacute_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>IJ_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>NULL_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Nacute.loclPLK</key>
	<string>Nacute_.loclPLK_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Oacute.loclPLK</key>
	<string>Oacute_.loclPLK_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Sacute.loclPLK</key>
	<string>Sacute_.loclPLK_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>Tbar_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zacute.loclPLK</key>
	<string>Zacute_.loclPLK_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.smcp</key>
	<string>a.smcp.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.smcp</key>
	<string>aacute.smcp.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.smcp</key>
	<string>abreve.smcp.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.smcp</key>
	<string>acircumflex.smcp.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.case</key>
	<string>acute.case.glif</string>
	<key>acute.loclPLK</key>
	<string>acute.loclPLK_.glif</string>
	<key>acute.loclPLK.case</key>
	<string>acute.loclPLK_.case.glif</string>
	<key>acute.loclPLK.smcp</key>
	<string>acute.loclPLK_.smcp.glif</string>
	<key>acute.smcp</key>
	<string>acute.smcp.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.smcp</key>
	<string>adieresis.smcp.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.smcp</key>
	<string>ae.smcp.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.smcp</key>
	<string>agrave.smcp.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.smcp</key>
	<string>amacron.smcp.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.smcp</key>
	<string>ampersand.smcp.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.smcp</key>
	<string>aogonek.smcp.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.smcp</key>
	<string>aring.smcp.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowdownleft</key>
	<string>arrowdownleft.glif</string>
	<key>arrowdownright</key>
	<string>arrowdownright.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupleft</key>
	<string>arrowupleft.glif</string>
	<key>arrowupright</key>
	<string>arrowupright.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciicircum.case</key>
	<string>asciicircum.case.glif</string>
	<key>asciicircum.smcp</key>
	<string>asciicircum.smcp.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asciitilde.case</key>
	<string>asciitilde.case.glif</string>
	<key>asciitilde.smcp</key>
	<string>asciitilde.smcp.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.case</key>
	<string>at.case.glif</string>
	<key>at.smcp</key>
	<string>at.smcp.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.smcp</key>
	<string>atilde.smcp.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.smcp</key>
	<string>b.smcp.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>blacksquare</key>
	<string>blacksquare.glif</string>
	<key>blacksquare.case</key>
	<string>blacksquare.case.glif</string>
	<key>blacksquare.smcp</key>
	<string>blacksquare.smcp.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.case</key>
	<string>braceleft.case.glif</string>
	<key>braceleft.smcp</key>
	<string>braceleft.smcp.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.case</key>
	<string>braceright.case.glif</string>
	<key>braceright.smcp</key>
	<string>braceright.smcp.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.case</key>
	<string>bracketleft.case.glif</string>
	<key>bracketleft.smcp</key>
	<string>bracketleft.smcp.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.case</key>
	<string>bracketright.case.glif</string>
	<key>bracketright.smcp</key>
	<string>bracketright.smcp.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breve-cy</key>
	<string>breve-cy.glif</string>
	<key>breve-cy.case</key>
	<string>breve-cy.case.glif</string>
	<key>breve-cy.smcp</key>
	<string>breve-cy.smcp.glif</string>
	<key>breve.case</key>
	<string>breve.case.glif</string>
	<key>breve.smcp</key>
	<string>breve.smcp.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.case</key>
	<string>bullet.case.glif</string>
	<key>bullet.smcp</key>
	<string>bullet.smcp.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.smcp</key>
	<string>c.smcp.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>cacute.loclPLK</key>
	<string>cacute.loclPLK_.glif</string>
	<key>cacute.loclPLK.smcp</key>
	<string>cacute.loclPLK_.smcp.glif</string>
	<key>cacute.smcp</key>
	<string>cacute.smcp.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.case</key>
	<string>caron.case.glif</string>
	<key>caron.smcp</key>
	<string>caron.smcp.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccaron.smcp</key>
	<string>ccaron.smcp.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccedilla.smcp</key>
	<string>ccedilla.smcp.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>ccircumflex.smcp</key>
	<string>ccircumflex.smcp.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cdotaccent.smcp</key>
	<string>cdotaccent.smcp.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedilla.case</key>
	<string>cedilla.case.glif</string>
	<key>cedilla.smcp</key>
	<string>cedilla.smcp.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.smcp</key>
	<string>cent.smcp.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.case</key>
	<string>circumflex.case.glif</string>
	<key>circumflex.smcp</key>
	<string>circumflex.smcp.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaaccentcomb.case</key>
	<string>commaaccentcomb.case.glif</string>
	<key>commaaccentcomb.smcp</key>
	<string>commaaccentcomb.smcp.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>currency.smcp</key>
	<string>currency.smcp.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.smcp</key>
	<string>d.smcp.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcaron.smcp</key>
	<string>dcaron.smcp.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dcroat.smcp</key>
	<string>dcroat.smcp.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.case</key>
	<string>dieresis.case.glif</string>
	<key>dieresis.smcp</key>
	<string>dieresis.smcp.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.smcp</key>
	<string>dollar.smcp.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccent.case</key>
	<string>dotaccent.case.glif</string>
	<key>dotaccent.smcp</key>
	<string>dotaccent.smcp.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.smcp</key>
	<string>e.smcp.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.smcp</key>
	<string>eacute.smcp.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ebreve.smcp</key>
	<string>ebreve.smcp.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecaron.smcp</key>
	<string>ecaron.smcp.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflex.smcp</key>
	<string>ecircumflex.smcp.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edieresis.smcp</key>
	<string>edieresis.smcp.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotaccent.smcp</key>
	<string>edotaccent.smcp.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>egrave.smcp</key>
	<string>egrave.smcp.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.lf</key>
	<string>eight.lf.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eight.subs</key>
	<string>eight.subs.glif</string>
	<key>eight.sups</key>
	<string>eight.sups.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emacron.smcp</key>
	<string>emacron.smcp.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.case</key>
	<string>emdash.case.glif</string>
	<key>emdash.smcp</key>
	<string>emdash.smcp.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.case</key>
	<string>endash.case.glif</string>
	<key>endash.smcp</key>
	<string>endash.smcp.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eng.smcp</key>
	<string>eng.smcp.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eogonek.smcp</key>
	<string>eogonek.smcp.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>eth.smcp</key>
	<string>eth.smcp.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.smcp</key>
	<string>exclam.smcp.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.case</key>
	<string>exclamdown.case.glif</string>
	<key>exclamdown.smcp</key>
	<string>exclamdown.smcp.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.smcp</key>
	<string>f.smcp.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.lf</key>
	<string>five.lf.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>five.subs</key>
	<string>five.subs.glif</string>
	<key>five.sups</key>
	<string>five.sups.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>florin.smcp</key>
	<string>florin.smcp.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.lf</key>
	<string>four.lf.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>four.subs</key>
	<string>four.subs.glif</string>
	<key>four.sups</key>
	<string>four.sups.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.smcp</key>
	<string>g.smcp.glif</string>
	<key>gacute</key>
	<string>gacute.glif</string>
	<key>gacute.smcp</key>
	<string>gacute.smcp.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.smcp</key>
	<string>gbreve.smcp.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcircumflex.smcp</key>
	<string>gcircumflex.smcp.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.smcp</key>
	<string>gcommaaccent.smcp.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.smcp</key>
	<string>gdotaccent.smcp.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.smcp</key>
	<string>germandbls.smcp.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.case</key>
	<string>grave.case.glif</string>
	<key>grave.smcp</key>
	<string>grave.smcp.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.case</key>
	<string>guillemotleft.case.glif</string>
	<key>guillemotleft.smcp</key>
	<string>guillemotleft.smcp.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.case</key>
	<string>guillemotright.case.glif</string>
	<key>guillemotright.smcp</key>
	<string>guillemotright.smcp.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.case</key>
	<string>guilsinglleft.case.glif</string>
	<key>guilsinglleft.smcp</key>
	<string>guilsinglleft.smcp.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.case</key>
	<string>guilsinglright.case.glif</string>
	<key>guilsinglright.smcp</key>
	<string>guilsinglright.smcp.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.smcp</key>
	<string>h.smcp.glif</string>
	<key>hacek</key>
	<string>hacek.glif</string>
	<key>hacek.case</key>
	<string>hacek.case.glif</string>
	<key>hacek.smcp</key>
	<string>hacek.smcp.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hbar.smcp</key>
	<string>hbar.smcp.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hcircumflex.smcp</key>
	<string>hcircumflex.smcp.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlaut.case</key>
	<string>hungarumlaut.case.glif</string>
	<key>hungarumlaut.smcp</key>
	<string>hungarumlaut.smcp.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.case</key>
	<string>hyphen.case.glif</string>
	<key>hyphen.smcp</key>
	<string>hyphen.smcp.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.loclTRK</key>
	<string>i.loclTRK_.glif</string>
	<key>i.loclTRK.smcp</key>
	<string>i.loclTRK_.smcp.glif</string>
	<key>i.smcp</key>
	<string>i.smcp.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute.smcp</key>
	<string>iacute.smcp.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>ibreve.smcp</key>
	<string>ibreve.smcp.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>icircumflex.smcp</key>
	<string>icircumflex.smcp.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idieresis.smcp</key>
	<string>idieresis.smcp.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>igrave.smcp</key>
	<string>igrave.smcp.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>ij.smcp</key>
	<string>ij.smcp.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>imacron.smcp</key>
	<string>imacron.smcp.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iogonek.smcp</key>
	<string>iogonek.smcp.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>itilde.smcp</key>
	<string>itilde.smcp.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.smcp</key>
	<string>j.smcp.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>jcircumflex.smcp</key>
	<string>jcircumflex.smcp.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.smcp</key>
	<string>k.smcp.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kcommaaccent.smcp</key>
	<string>kcommaaccent.smcp.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.smcp</key>
	<string>l.smcp.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lacute.smcp</key>
	<string>lacute.smcp.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.smcp</key>
	<string>lcaron.smcp.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>lcommaaccent.smcp</key>
	<string>lcommaaccent.smcp.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>ldot.smcp</key>
	<string>ldot.smcp.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lslash.smcp</key>
	<string>lslash.smcp.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.smcp</key>
	<string>m.smcp.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.case</key>
	<string>macron.case.glif</string>
	<key>macron.smcp</key>
	<string>macron.smcp.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.smcp</key>
	<string>n.smcp.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nacute.loclPLK</key>
	<string>nacute.loclPLK_.glif</string>
	<key>nacute.loclPLK.smcp</key>
	<string>nacute.loclPLK_.smcp.glif</string>
	<key>nacute.smcp</key>
	<string>nacute.smcp.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncaron.smcp</key>
	<string>ncaron.smcp.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ncommaaccent.smcp</key>
	<string>ncommaaccent.smcp.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.lf</key>
	<string>nine.lf.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nine.subs</key>
	<string>nine.subs.glif</string>
	<key>nine.sups</key>
	<string>nine.sups.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ntilde.smcp</key>
	<string>ntilde.smcp.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.smcp</key>
	<string>o.smcp.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oacute.loclPLK</key>
	<string>oacute.loclPLK_.glif</string>
	<key>oacute.loclPLK.smcp</key>
	<string>oacute.loclPLK_.smcp.glif</string>
	<key>oacute.smcp</key>
	<string>oacute.smcp.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>obreve.smcp</key>
	<string>obreve.smcp.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflex.smcp</key>
	<string>ocircumflex.smcp.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresis.smcp</key>
	<string>odieresis.smcp.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oe.smcp</key>
	<string>oe.smcp.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonek.case</key>
	<string>ogonek.case.glif</string>
	<key>ogonek.smcp</key>
	<string>ogonek.smcp.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ograve.smcp</key>
	<string>ograve.smcp.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>ohungarumlaut.smcp</key>
	<string>ohungarumlaut.smcp.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omacron.smcp</key>
	<string>omacron.smcp.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.lf</key>
	<string>one.lf.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>one.subs</key>
	<string>one.subs.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslash.smcp</key>
	<string>oslash.smcp.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>otilde.smcp</key>
	<string>otilde.smcp.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.smcp</key>
	<string>p.smcp.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>paragraph.smcp</key>
	<string>paragraph.smcp.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.case</key>
	<string>parenleft.case.glif</string>
	<key>parenleft.smcp</key>
	<string>parenleft.smcp.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.case</key>
	<string>parenright.case.glif</string>
	<key>parenright.smcp</key>
	<string>parenright.smcp.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.case</key>
	<string>periodcentered.case.glif</string>
	<key>periodcentered.smcp</key>
	<string>periodcentered.smcp.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.smcp</key>
	<string>q.smcp.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.smcp</key>
	<string>question.smcp.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.case</key>
	<string>questiondown.case.glif</string>
	<key>questiondown.smcp</key>
	<string>questiondown.smcp.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.smcp</key>
	<string>r.smcp.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>racute.smcp</key>
	<string>racute.smcp.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcaron.smcp</key>
	<string>rcaron.smcp.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>rcommaaccent.smcp</key>
	<string>rcommaaccent.smcp.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.case</key>
	<string>ring.case.glif</string>
	<key>ring.smcp</key>
	<string>ring.smcp.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.smcp</key>
	<string>s.smcp.glif</string>
	<key>s_t</key>
	<string>s_t.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>sacute.loclPLK</key>
	<string>sacute.loclPLK_.glif</string>
	<key>sacute.loclPLK.smcp</key>
	<string>sacute.loclPLK_.smcp.glif</string>
	<key>sacute.smcp</key>
	<string>sacute.smcp.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scaron.smcp</key>
	<string>scaron.smcp.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scedilla.smcp</key>
	<string>scedilla.smcp.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scircumflex.smcp</key>
	<string>scircumflex.smcp.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>scommaaccent.smcp</key>
	<string>scommaaccent.smcp.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>section.smcp</key>
	<string>section.smcp.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.lf</key>
	<string>seven.lf.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seven.subs</key>
	<string>seven.subs.glif</string>
	<key>seven.sups</key>
	<string>seven.sups.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.lf</key>
	<string>six.lf.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>six.subs</key>
	<string>six.subs.glif</string>
	<key>six.sups</key>
	<string>six.sups.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>sterling.smcp</key>
	<string>sterling.smcp.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.smcp</key>
	<string>t.smcp.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tbar.smcp</key>
	<string>tbar.smcp.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcaron.smcp</key>
	<string>tcaron.smcp.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcedilla.smcp</key>
	<string>tcedilla.smcp.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>thorn.smcp</key>
	<string>thorn.smcp.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.lf</key>
	<string>three.lf.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>three.subs</key>
	<string>three.subs.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.case</key>
	<string>tilde.case.glif</string>
	<key>tilde.smcp</key>
	<string>tilde.smcp.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.lf</key>
	<string>two.lf.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>two.subs</key>
	<string>two.subs.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.smcp</key>
	<string>u.smcp.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.smcp</key>
	<string>uacute.smcp.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ubreve.smcp</key>
	<string>ubreve.smcp.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ucircumflex.smcp</key>
	<string>ucircumflex.smcp.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.smcp</key>
	<string>udieresis.smcp.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>ugrave.smcp</key>
	<string>ugrave.smcp.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>uhungarumlaut.smcp</key>
	<string>uhungarumlaut.smcp.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>umacron.smcp</key>
	<string>umacron.smcp.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00540068.liga</key>
	<string>uni00540068.liga.glif</string>
	<key>uni00630074</key>
	<string>uni00630074.glif</string>
	<key>uni00660062.liga</key>
	<string>uni00660062.liga.glif</string>
	<key>uni006600660062.liga</key>
	<string>uni006600660062.liga.glif</string>
	<key>uni006600660068.liga</key>
	<string>uni006600660068.liga.glif</string>
	<key>uni00660066006A.liga</key>
	<string>uni00660066006A_.liga.glif</string>
	<key>uni00660066006B.liga</key>
	<string>uni00660066006B_.liga.glif</string>
	<key>uni00660068.liga</key>
	<string>uni00660068.liga.glif</string>
	<key>uni0066006A.liga</key>
	<string>uni0066006A_.liga.glif</string>
	<key>uni0066006B.liga</key>
	<string>uni0066006B_.liga.glif</string>
	<key>uni006600EC.liga</key>
	<string>uni006600EC_.liga.glif</string>
	<key>uni006600EF.liga</key>
	<string>uni006600EF_.liga.glif</string>
	<key>uni00730070</key>
	<string>uni00730070.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni021B.smcp</key>
	<string>uni021B_.smcp.glif</string>
	<key>uni0401</key>
	<string>uni0401.glif</string>
	<key>uni0402</key>
	<string>uni0402.glif</string>
	<key>uni0403</key>
	<string>uni0403.glif</string>
	<key>uni0404</key>
	<string>uni0404.glif</string>
	<key>uni0405</key>
	<string>uni0405.glif</string>
	<key>uni0406</key>
	<string>uni0406.glif</string>
	<key>uni0407</key>
	<string>uni0407.glif</string>
	<key>uni0408</key>
	<string>uni0408.glif</string>
	<key>uni0409</key>
	<string>uni0409.glif</string>
	<key>uni040A</key>
	<string>uni040A_.glif</string>
	<key>uni040B</key>
	<string>uni040B_.glif</string>
	<key>uni040C</key>
	<string>uni040C_.glif</string>
	<key>uni040D</key>
	<string>uni040D_.glif</string>
	<key>uni040E</key>
	<string>uni040E_.glif</string>
	<key>uni040F</key>
	<string>uni040F_.glif</string>
	<key>uni0410</key>
	<string>uni0410.glif</string>
	<key>uni0411</key>
	<string>uni0411.glif</string>
	<key>uni0412</key>
	<string>uni0412.glif</string>
	<key>uni0413</key>
	<string>uni0413.glif</string>
	<key>uni0414</key>
	<string>uni0414.glif</string>
	<key>uni0415</key>
	<string>uni0415.glif</string>
	<key>uni0416</key>
	<string>uni0416.glif</string>
	<key>uni0417</key>
	<string>uni0417.glif</string>
	<key>uni0418</key>
	<string>uni0418.glif</string>
	<key>uni0419</key>
	<string>uni0419.glif</string>
	<key>uni041A</key>
	<string>uni041A_.glif</string>
	<key>uni041B</key>
	<string>uni041B_.glif</string>
	<key>uni041C</key>
	<string>uni041C_.glif</string>
	<key>uni041D</key>
	<string>uni041D_.glif</string>
	<key>uni041E</key>
	<string>uni041E_.glif</string>
	<key>uni041F</key>
	<string>uni041F_.glif</string>
	<key>uni0420</key>
	<string>uni0420.glif</string>
	<key>uni0421</key>
	<string>uni0421.glif</string>
	<key>uni0422</key>
	<string>uni0422.glif</string>
	<key>uni0423</key>
	<string>uni0423.glif</string>
	<key>uni0424</key>
	<string>uni0424.glif</string>
	<key>uni0425</key>
	<string>uni0425.glif</string>
	<key>uni0426</key>
	<string>uni0426.glif</string>
	<key>uni0427</key>
	<string>uni0427.glif</string>
	<key>uni0428</key>
	<string>uni0428.glif</string>
	<key>uni0429</key>
	<string>uni0429.glif</string>
	<key>uni042A</key>
	<string>uni042A_.glif</string>
	<key>uni042B</key>
	<string>uni042B_.glif</string>
	<key>uni042C</key>
	<string>uni042C_.glif</string>
	<key>uni042D</key>
	<string>uni042D_.glif</string>
	<key>uni042E</key>
	<string>uni042E_.glif</string>
	<key>uni042F</key>
	<string>uni042F_.glif</string>
	<key>uni0430</key>
	<string>uni0430.glif</string>
	<key>uni0430.smcp</key>
	<string>uni0430.smcp.glif</string>
	<key>uni0431</key>
	<string>uni0431.glif</string>
	<key>uni0431.smcp</key>
	<string>uni0431.smcp.glif</string>
	<key>uni0431.srb</key>
	<string>uni0431.srb.glif</string>
	<key>uni0432</key>
	<string>uni0432.glif</string>
	<key>uni0432.smcp</key>
	<string>uni0432.smcp.glif</string>
	<key>uni0433</key>
	<string>uni0433.glif</string>
	<key>uni0433.smcp</key>
	<string>uni0433.smcp.glif</string>
	<key>uni0434</key>
	<string>uni0434.glif</string>
	<key>uni0434.smcp</key>
	<string>uni0434.smcp.glif</string>
	<key>uni0435</key>
	<string>uni0435.glif</string>
	<key>uni0435.smcp</key>
	<string>uni0435.smcp.glif</string>
	<key>uni0436</key>
	<string>uni0436.glif</string>
	<key>uni0436.smcp</key>
	<string>uni0436.smcp.glif</string>
	<key>uni0437</key>
	<string>uni0437.glif</string>
	<key>uni0437.smcp</key>
	<string>uni0437.smcp.glif</string>
	<key>uni0438</key>
	<string>uni0438.glif</string>
	<key>uni0438.smcp</key>
	<string>uni0438.smcp.glif</string>
	<key>uni0439</key>
	<string>uni0439.glif</string>
	<key>uni0439.smcp</key>
	<string>uni0439.smcp.glif</string>
	<key>uni043A</key>
	<string>uni043A_.glif</string>
	<key>uni043A.smcp</key>
	<string>uni043A_.smcp.glif</string>
	<key>uni043B</key>
	<string>uni043B_.glif</string>
	<key>uni043B.smcp</key>
	<string>uni043B_.smcp.glif</string>
	<key>uni043C</key>
	<string>uni043C_.glif</string>
	<key>uni043C.smcp</key>
	<string>uni043C_.smcp.glif</string>
	<key>uni043D</key>
	<string>uni043D_.glif</string>
	<key>uni043D.smcp</key>
	<string>uni043D_.smcp.glif</string>
	<key>uni043E</key>
	<string>uni043E_.glif</string>
	<key>uni043E.smcp</key>
	<string>uni043E_.smcp.glif</string>
	<key>uni043F</key>
	<string>uni043F_.glif</string>
	<key>uni043F.smcp</key>
	<string>uni043F_.smcp.glif</string>
	<key>uni0440</key>
	<string>uni0440.glif</string>
	<key>uni0440.smcp</key>
	<string>uni0440.smcp.glif</string>
	<key>uni0441</key>
	<string>uni0441.glif</string>
	<key>uni0441.smcp</key>
	<string>uni0441.smcp.glif</string>
	<key>uni0442</key>
	<string>uni0442.glif</string>
	<key>uni0442.smcp</key>
	<string>uni0442.smcp.glif</string>
	<key>uni0443</key>
	<string>uni0443.glif</string>
	<key>uni0443.smcp</key>
	<string>uni0443.smcp.glif</string>
	<key>uni0444</key>
	<string>uni0444.glif</string>
	<key>uni0444.smcp</key>
	<string>uni0444.smcp.glif</string>
	<key>uni0445</key>
	<string>uni0445.glif</string>
	<key>uni0445.smcp</key>
	<string>uni0445.smcp.glif</string>
	<key>uni0446</key>
	<string>uni0446.glif</string>
	<key>uni0446.smcp</key>
	<string>uni0446.smcp.glif</string>
	<key>uni0447</key>
	<string>uni0447.glif</string>
	<key>uni0447.smcp</key>
	<string>uni0447.smcp.glif</string>
	<key>uni0448</key>
	<string>uni0448.glif</string>
	<key>uni0448.smcp</key>
	<string>uni0448.smcp.glif</string>
	<key>uni0449</key>
	<string>uni0449.glif</string>
	<key>uni0449.smcp</key>
	<string>uni0449.smcp.glif</string>
	<key>uni044A</key>
	<string>uni044A_.glif</string>
	<key>uni044A.smcp</key>
	<string>uni044A_.smcp.glif</string>
	<key>uni044B</key>
	<string>uni044B_.glif</string>
	<key>uni044B.smcp</key>
	<string>uni044B_.smcp.glif</string>
	<key>uni044C</key>
	<string>uni044C_.glif</string>
	<key>uni044C.smcp</key>
	<string>uni044C_.smcp.glif</string>
	<key>uni044D</key>
	<string>uni044D_.glif</string>
	<key>uni044D.smcp</key>
	<string>uni044D_.smcp.glif</string>
	<key>uni044E</key>
	<string>uni044E_.glif</string>
	<key>uni044E.smcp</key>
	<string>uni044E_.smcp.glif</string>
	<key>uni044F</key>
	<string>uni044F_.glif</string>
	<key>uni044F.smcp</key>
	<string>uni044F_.smcp.glif</string>
	<key>uni0451</key>
	<string>uni0451.glif</string>
	<key>uni0451.smcp</key>
	<string>uni0451.smcp.glif</string>
	<key>uni0452</key>
	<string>uni0452.glif</string>
	<key>uni0452.smcp</key>
	<string>uni0452.smcp.glif</string>
	<key>uni0453</key>
	<string>uni0453.glif</string>
	<key>uni0453.smcp</key>
	<string>uni0453.smcp.glif</string>
	<key>uni0454</key>
	<string>uni0454.glif</string>
	<key>uni0454.smcp</key>
	<string>uni0454.smcp.glif</string>
	<key>uni0455</key>
	<string>uni0455.glif</string>
	<key>uni0455.smcp</key>
	<string>uni0455.smcp.glif</string>
	<key>uni0456</key>
	<string>uni0456.glif</string>
	<key>uni0456.smcp</key>
	<string>uni0456.smcp.glif</string>
	<key>uni0457</key>
	<string>uni0457.glif</string>
	<key>uni0457.smcp</key>
	<string>uni0457.smcp.glif</string>
	<key>uni0458</key>
	<string>uni0458.glif</string>
	<key>uni0458.smcp</key>
	<string>uni0458.smcp.glif</string>
	<key>uni0459</key>
	<string>uni0459.glif</string>
	<key>uni0459.smcp</key>
	<string>uni0459.smcp.glif</string>
	<key>uni045A</key>
	<string>uni045A_.glif</string>
	<key>uni045A.smcp</key>
	<string>uni045A_.smcp.glif</string>
	<key>uni045B</key>
	<string>uni045B_.glif</string>
	<key>uni045B.smcp</key>
	<string>uni045B_.smcp.glif</string>
	<key>uni045C</key>
	<string>uni045C_.glif</string>
	<key>uni045C.smcp</key>
	<string>uni045C_.smcp.glif</string>
	<key>uni045D</key>
	<string>uni045D_.glif</string>
	<key>uni045D.smcp</key>
	<string>uni045D_.smcp.glif</string>
	<key>uni045E</key>
	<string>uni045E_.glif</string>
	<key>uni045E.smcp</key>
	<string>uni045E_.smcp.glif</string>
	<key>uni045F</key>
	<string>uni045F_.glif</string>
	<key>uni045F.smcp</key>
	<string>uni045F_.smcp.glif</string>
	<key>uni0490</key>
	<string>uni0490.glif</string>
	<key>uni0491</key>
	<string>uni0491.glif</string>
	<key>uni0491.smcp</key>
	<string>uni0491.smcp.glif</string>
	<key>uni1E9E</key>
	<string>uni1E9E_.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni20B9</key>
	<string>uni20B9_.glif</string>
	<key>uni20B9.smcp</key>
	<string>uni20B9_.smcp.glif</string>
	<key>uni2105</key>
	<string>uni2105.glif</string>
	<key>uni2116</key>
	<string>uni2116.glif</string>
	<key>uni2153</key>
	<string>uni2153.glif</string>
	<key>uni2154</key>
	<string>uni2154.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uogonek.smcp</key>
	<string>uogonek.smcp.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uring.smcp</key>
	<string>uring.smcp.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>utilde.smcp</key>
	<string>utilde.smcp.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.smcp</key>
	<string>v.smcp.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.smcp</key>
	<string>w.smcp.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wacute.smcp</key>
	<string>wacute.smcp.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wcircumflex.smcp</key>
	<string>wcircumflex.smcp.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wdieresis.smcp</key>
	<string>wdieresis.smcp.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>wgrave.smcp</key>
	<string>wgrave.smcp.glif</string>
	<key>whitesquare</key>
	<string>whitesquare.glif</string>
	<key>whitesquare.case</key>
	<string>whitesquare.case.glif</string>
	<key>whitesquare.smcp</key>
	<string>whitesquare.smcp.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.smcp</key>
	<string>x.smcp.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.smcp</key>
	<string>y.smcp.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.smcp</key>
	<string>yacute.smcp.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ycircumflex.smcp</key>
	<string>ycircumflex.smcp.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.smcp</key>
	<string>ydieresis.smcp.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.smcp</key>
	<string>yen.smcp.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>ygrave.smcp</key>
	<string>ygrave.smcp.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.smcp</key>
	<string>z.smcp.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zacute.loclPLK</key>
	<string>zacute.loclPLK_.glif</string>
	<key>zacute.loclPLK.smcp</key>
	<string>zacute.loclPLK_.smcp.glif</string>
	<key>zacute.smcp</key>
	<string>zacute.smcp.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zcaron.smcp</key>
	<string>zcaron.smcp.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotaccent.smcp</key>
	<string>zdotaccent.smcp.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.lf</key>
	<string>zero.lf.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zero.subs</key>
	<string>zero.subs.glif</string>
	<key>zero.sups</key>
	<string>zero.sups.glif</string>
</dict>
</plist>
