table {
  table-layout: auto;
  width: 100%;
}

table,
table.feature,
table thead,
tbody { 
  text-indent: 0rem;
  margin: 0%;
  padding: 0%;
  border-spacing: 0px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border-collapse:collapse;
  border: 0rem;
}

th {
  display: table-cell;
  font-weight: normal;
  text-align: center;
  table-layout: fixed;
}

.feature {
  text-align: left;
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 0rem;
  display: block;
}

th.featureTableTitle {
  font-variation-settings: 'wght' 700, 'wdth' 80, 'opsz' 9;
  padding: 0rem;
}

td.featureTableItalic {
  font-style: italic;
}

table td,
table td * { 
  /* width: 20%; */
  vertical-align: top;
  border-spacing: 0rem;
  padding: 0rem;
  margin: 0rem;
}

th.featureTableTitle:nth-of-type(1),
th:nth-of-type(1),
td:nth-of-type(1) { 
  /* min-width: 20rem; */
/*   width: 40%;
  min-width: 40%; */
  /* width: 20rem; */
  text-align: left;
  vertical-align: baseline;
}

th.featureTableTitle:nth-of-type(2),
th:nth-of-type(2),
td:nth-of-type(2) { 
  padding-left: 2rem;
  text-align: center;
  vertical-align: baseline;
}

th.featureTableTitle:nth-of-type(2) {
}

th.featureTableTitle:nth-of-type(3),
th:nth-of-type(3),
td:nth-of-type(3) { 
  padding-left: 2rem;
  text-align: left;
  vertical-align: baseline;
}

.td,
.td,
.th { 
  height: 1.1rem;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.featureTableRomanNoKerning {
  font-feature-settings: "kern"0;
}

.featureTableItalicNoKerning {
  font-style: italic;
  font-feature-settings: "kern"0;
}