html {
  scroll-snap-type: y mandatory;
}

.top {
  scroll-snap-align: center;
}

.wdth50 {
  font-variation-settings: "wght"445, "wdth"50, "opsz"9;
  scroll-snap-align: start;
}
.wdth50 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 50, 'opsz' 14;
}
.wdth50 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 50, 'opsz' 14;
}
.wdth50 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 50, 'opsz' 14;
}

.wdth60 {
  font-variation-settings: "wght"445, "wdth"60, "opsz"9;
  scroll-snap-align: start;
}
.wdth60 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 60, 'opsz' 14;
}
.wdth60 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 60, 'opsz' 14;
}
.wdth60 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 60, 'opsz' 14;
}

.wdth70 {
  font-variation-settings: "wght"445, "wdth"70, "opsz"9;
  scroll-snap-align: start;
}
.wdth70 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 70, 'opsz' 14;
}
.wdth70 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 70, 'opsz' 14;
}
.wdth70 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 70, 'opsz' 14;
}

.wdth80 {
  font-variation-settings: "wght"445, "wdth"80, "opsz"9;
  scroll-snap-align: start;
}
.wdth80 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 80, 'opsz' 14;
}
.wdth80 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 80, 'opsz' 14;
}
.wdth80 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 80, 'opsz' 14;
}

.wdth90 {
  font-variation-settings: "wght"445, "wdth"90, "opsz"9;
  scroll-snap-align: start;
}
.wdth90 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 90, 'opsz' 14;
}
.wdth90 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 90, 'opsz' 14;
}
.wdth90 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 90, 'opsz' 14;
}

.wdth100 {
  font-variation-settings: "wght"445, "wdth"100, "opsz"9;
  scroll-snap-align: start;
}
.wdth100 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 100, 'opsz' 14;
}
.wdth100 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 100, 'opsz' 14;
}
.wdth100 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 100, 'opsz' 14;
}

.wdth110 {
  font-variation-settings: "wght"445, "wdth"110, "opsz"9;
  scroll-snap-align: start;
}
.wdth110 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 110, 'opsz' 14;
}
.wdth110 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 110, 'opsz' 14;
}
.wdth110 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 110, 'opsz' 14;
}

.wdth120 {
  font-variation-settings: "wght"445, "wdth"120, "opsz"9;
  scroll-snap-align: start;
}
.wdth120 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 120, 'opsz' 14;
}
.wdth120 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 120, 'opsz' 14;
}
.wdth120 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 120, 'opsz' 14;
}

.wdth130 {
  font-variation-settings: "wght"445, "wdth"130, "opsz"9;
  scroll-snap-align: start;
}
.wdth130 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 130, 'opsz' 14;
}
.wdth130 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 130, 'opsz' 14;
}
.wdth130 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 130, 'opsz' 14;
}

.wdth140 {
  font-variation-settings: "wght"445, "wdth"140, "opsz"9;
  scroll-snap-align: start;
}
.wdth140 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 140, 'opsz' 14;
}
.wdth140 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 140, 'opsz' 14;
}
.wdth140 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 140, 'opsz' 14;
}

.wdth150 {
  font-variation-settings: "wght"445, "wdth"150, "opsz"9;
  scroll-snap-align: start;
}
.wdth150 h1 {
  font-variation-settings: 'wght' 700, 'wdth' 150, 'opsz' 14;
}
.wdth150 h3 {
  font-variation-settings: 'wght' 640, 'wdth' 150, 'opsz' 14;
}
.wdth150 p.smallcaps {
  font-variation-settings: 'wght' 445, 'wdth' 150, 'opsz' 14;
}

.subheading {
  font-weight: normal;
  text-align: center;
  font-variation-settings: 'wght' 700, 'wdth' 80, 'opsz' 9;
}

.smallcaps {
  text-align: center;
  margin-bottom: 0.9rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  font-feature-settings: "kern"1, "rlig"1, "smcp"1, "c2sc"1, "liga"1, "calt"1, "ss07"1;
}

.author {
    font-style: italic;
    text-align: center;
    font-feature-settings: "kern"1, "rlig"1, "liga"1, "calt"1, "ss07"1;
}

h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 1.8rem;
  font-size: 4rem;
  line-height: 100%;
  font-weight: normal;
  font-variation-settings: 'wght' 700, 'wdth' 80, 'opsz' 14;
}

h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-style: italic;
  line-height: 100%;
  font-weight: normal;
  font-variation-settings: 'wght' 640, 'wdth' 80, 'opsz' 14;
  font-feature-settings: "ss09"1;
}