/* right margin exception */
body {
  margin-left: 0rem;
  margin-right: 0rem;
  overflow-x: hidden;
}

/* right margin is instead applied to these div */
.documentHeadline,
.documentTrumpet,
#links {
  padding-left: 12rem;
  margin-right: 12rem;
}

.fullWidth {
  width: 100%;
  display: block;

  padding-top: 1.8rem;
  padding-left: 12rem;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow:hidden;
}

p+p {
  text-indent: 0;
}

.fullWidth {
  font-size: 4rem;
  line-height: 100%;
}

/* Agate */
.agate {
  font-size: 5pt;
  line-height: 120%;
}

.agate p.regular {
  font-variation-settings: "wght"400, "wdth"130, "opsz"5;
}

.agate p.semiBold {
  font-variation-settings: "wght"600, "wdth"130, "opsz"5;
}

.agate p.bold {
  font-variation-settings: "wght"700, "wdth"130, "opsz"5;
}

.agate p.extraBold {
  font-variation-settings: "wght"800, "wdth"130, "opsz"5;
}

.agate p.black {
  font-variation-settings: "wght"900, "wdth"130, "opsz"5;
}

/* Caption */
.caption {
  font-size: 7pt;
  line-height: 120%;
}

.caption p.regular {
  font-variation-settings: "wght"400, "wdth"100, "opsz"7;
}

.caption p.semiBold {
  font-variation-settings: "wght"600, "wdth"100, "opsz"7;
}

.caption p.bold {
  font-variation-settings: "wght"700, "wdth"100, "opsz"7;
}

.caption p.extraBold {
  font-variation-settings: "wght"800, "wdth"100, "opsz"7;
}

.caption p.black {
  font-variation-settings: "wght"900, "wdth"100, "opsz"7;
}

/* Text */
.text {
  font-size: 10pt;
  line-height: 120%;
}

.text p.regular {
  font-variation-settings: "wght"400, "wdth"90, "opsz"10;
}

.text p.semiBold {
  font-variation-settings: "wght"600, "wdth"90, "opsz"10;
}

.text p.bold {
  font-variation-settings: "wght"700, "wdth"90, "opsz"10;
}

.text p.extraBold {
  font-variation-settings: "wght"800, "wdth"90, "opsz"10;
}

.text p.black {
  font-variation-settings: "wght"900, "wdth"90, "opsz"10;
}

/* Subheading */
.subheading {
  font-size: 16pt;
  line-height: 110%;
}

.subheading p.regular {
  font-variation-settings: "wght"400, "wdth"90, "opsz"14;
}

.subheading p.semiBold {
  font-variation-settings: "wght"600, "wdth"90, "opsz"14;
}

.subheading p.bold {
  font-variation-settings: "wght"700, "wdth"90, "opsz"14;
}

.subheading p.extraBold {
  font-variation-settings: "wght"900, "wdth"90, "opsz"14;
}

.subheading p.black {
  font-variation-settings: "wght"900, "wdth"90, "opsz"14;
}

/* Trumpet */
.trumpet {
  font-size: 24pt;
  line-height: 110%;
}

.trumpet p.regular {
  font-variation-settings: "wght"400, "wdth"90, "opsz"18;
}

.trumpet p.semiBold {
  font-variation-settings: "wght"600, "wdth"90, "opsz"18;
}

.trumpet p.bold {
  font-variation-settings: "wght"900, "wdth"90, "opsz"18;
}

.trumpet p.extraBold {
  font-variation-settings: "wght"800, "wdth"90, "opsz"18;
}

.trumpet p.black {
  font-variation-settings: "wght"900, "wdth"90, "opsz"18;
}

/* Headline */
.headline {
  font-size: 48pt;
  line-height: 100%;
}

.headline p.regular {
  font-variation-settings: "wght"400, "wdth"88, "opsz"24;
}

.headline p.semiBold {
  font-variation-settings: "wght"880, "wdth"88, "opsz"24;
}

.headline p.bold {
  font-variation-settings: "wght"700, "wdth"88, "opsz"24;
}

.headline p.extraBold {
  font-variation-settings: "wght"800, "wdth"88, "opsz"24;
}

.headline p.black {
  font-variation-settings: "wght"900, "wdth"88, "opsz"24;
}

/* Display */
.display {
  font-size: 72pt;
  line-height: 100%;
}

.display p.regular {
  font-variation-settings: "wght"400, "wdth"86, "opsz"48;
}

.display p.semiBold {
  font-variation-settings: "wght"600, "wdth"86, "opsz"48;
}

.display p.bold {
  font-variation-settings: "wght"700, "wdth"86, "opsz"48;
}

.display p.extraBold {
  font-variation-settings: "wght"800, "wdth"86, "opsz"48;
}

.display p.black {
  font-variation-settings: "wght"900, "wdth"86, "opsz"48;
}

/* Titling */
.titling {
  font-size: 96pt;
  line-height: 100%;
}

.titling p.regular {
  font-variation-settings: "wght"400, "wdth"84, "opsz"75;
}

.titling p.semiBold {
  font-variation-settings: "wght"600, "wdth"84, "opsz"75;
}

.titling p.bold {
  font-variation-settings: "wght"700, "wdth"84, "opsz"75;
}

.titling p.extraBold {
  font-variation-settings: "wght"800, "wdth"84, "opsz"75;
}

.titling p.black {
  font-variation-settings: "wght"900, "wdth"84, "opsz"75;
}

/* Hairline */
.hairline {
  font-size: 144pt;
  line-height: 100%;
}

.hairline p.regular {
  font-variation-settings: "wght"400, "wdth"82, "opsz"96;
}

.hairline p.semiBold {
  font-variation-settings: "wght"600, "wdth"82, "opsz"96;
}

.hairline p.bold {
  font-variation-settings: "wght"820, "wdth"82, "opsz"96;
}

.hairline p.extraBold {
  font-variation-settings: "wght"800, "wdth"82, "opsz"96;
}

.hairline p.black {
  font-variation-settings: "wght"900, "wdth"82, "opsz"96;
}

/* Needlepoint */
.needlepoint {
  font-size: 400pt;
  line-height: 90%;
}

.needlepoint p.regular {
  font-variation-settings: "wght"400, "wdth"80, "opsz"120;
}

.needlepoint p.semiBold {
  font-variation-settings: "wght"800, "wdth"80, "opsz"120;
}

.needlepoint p.bold {
  font-variation-settings: "wght"700, "wdth"80, "opsz"120;
}

.needlepoint p.extraBold {
  font-variation-settings: "wght"800, "wdth"80, "opsz"120;
}

.needlepoint p.black {
  font-variation-settings: "wght"900, "wdth"80, "opsz"120;
}