html { 
  text-rendering: geometricPrecision;
  font-kerning: normal;
}

body { 
  font-family: "Playfair";
  font-size: 1.1rem;
  line-height: 120%;
  background-color: #ffffff;
  color: #000000;
  
  /* word-spacing: 0.02rem; */
  font-variation-settings: "wght"445, "wdth"70, "opsz"9;
  
  /*
  2rem = 32px with default font sizing
  Optical size axis 'opsz' is defined in typographical points.
  "font-optical-sizing: auto;" is broken in Firefox? Or in all the other browsers? Is it the font 'avar' table that is the source?
  Conversions from REM to Points.
  REM       Points
  00.42     5 Agate
  00.67     8 Caption
  01.00    12 Text
  01.75    21 Headline
  04.01    48 Display
  08.03    96 Hairline
  10.00   120 Needlepoint
  */
  
  /* font-optical-sizing: auto; */
  margin-top: 2rem;
  margin-bottom: 8rem;
  margin-left: 12rem;
  margin-right: 12rem;
  text-align: left;
  height: 100%;
  font-feature-settings: "kern"1, "rlig"1, "dlig"0, "liga"1, "calt"0, "ss01"0, "ss02"0,  "ss03"0, "ss04"0, "ss05"0, "ss06"0, "ss07"0, "ss08"0, "ss09"0, "ss10"0, "ss11"0, "ss12"0, "ss13"0;
  hanging-punctuation: first allow-end last;
}

p,
p.subheading+p { 
  text-indent: 0;
  margin: 0;
  hyphens: auto;
}

p+p.subheading { 
  margin-top: 1em;
  text-indent: 0;
}

/*     p+p {
  text-indent: 2rem;
  margin-top: 0;
} */

a { 
  color: #000000;
  text-decoration-line: none;
}

#links a:hover { 
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.1rem;
}

/*
#links a:hover::before {
  content: "\2192";
}

#links a:hover::after {
  content: "\2190";
}
*/

#links { 
  font-style: italic;
  font-feature-settings: "kern"1, "rlig"1, "liga"1, "dlig"0, "ss01"0, "ss02"0, "ss03"0, "ss04"0, "ss05"0, "ss06"0, "ss07"1, "ss08"0, "ss09"1, "ss10"0, "ss11"0, "ss12"1, "ss13"1;
  column-width: auto;
  column-count: 3;
  column-fill: balance-all;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.features { 
  column-width: auto;
  column-count: 2;
  column-fill: balance-all;
}

em { 
  font-style: italic;
  font-feature-settings: "kern"1, "rlig"1, "liga"1, "dlig"0, "ss09"1;
}

strong { 
  font-weight: normal;
  font-variation-settings: 'wght' 700, 'wdth' 70, 'opsz' 9;
}

.documentHeadline { 
  font-variation-settings: 'wght' 620, 'wdth' 70, 'opsz' 42;
  letter-spacing: -0.07rem;
  /* font-variant-caps: all-small-caps; */
  /* text-transform: uppercase; */
  font-style: normal;
  text-indent: 0;
  font-size: 5rem;
  line-height: 100%;
  display: block;
  margin-bottom: 1rem;
  hyphens: none;
  font-feature-settings: "kern"1, "rlig"1, "dlig"0, "liga"1;
}

.documentHeadline strong em {
  font-style: italic;
  font-variation-settings: 'wght' 820, 'wdth' 70, 'opsz' 42;
}

.documentTrumpet {
  font-size: 1.8rem;
  font-variation-settings: 'wght' 400, 'wdth' 80, 'opsz' 24;
  line-height: 130%;
  font-feature-settings: "kern"1, "rlig"1, "liga"1, "ss10"1, "calt"1;
}

.documentTrumpet strong {
  font-variation-settings: 'wght' 820, 'wdth' 80, 'opsz' 24;
}

.documentHeadline+.documentTrumpet {
  padding-top: 1.8rem;
  text-indent: 0;
}

p,
p.subheading+p {
  text-indent: 0;
  margin: 0;
  hyphens: auto;
}

p+p.subheading {
  margin-top: 1em;
  text-indent: 0;
}

p+p {
  text-indent: 2rem;
  margin-top: 0;
}

.subheading { 
  font-weight: normal;
  font-variation-settings: 'wght' 700, 'wdth' 80, 'opsz' 9;
}

.language {
  font-size: 1.14rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1rem;
  font-weight: normal;
  font-variation-settings: 'wght' 700, 'wdth' 70, 'opsz' 9;
  text-align: center;
  line-height: 100%;
  font-feature-settings: "kern"1, "rlig"1, "smcp"1, "c2sc"1, "liga"1, "calt"1;
  margin-top: 3rem;
  margin-bottom: .5rem;
  display: block;
}

.language:before {
  content: "\2192";
}

.language:after {
  content: "\2190";
}

.kern { 
  font-feature-settings: "kern"1;
}

.case { 
  text-transform: uppercase;
  font-feature-settings: "kern"1, "rlig"1, "case"1;
}

.c2sc { 
  font-feature-settings: "kern"1, "rlig"1, "c2sc"1;
}

.smcp { 
  font-feature-settings: "kern"1, "rlig"1, "smcp"1;
}

.smcp em { 
  font-style: italic;
  font-feature-settings: "kern"1, "rlig"1, "smcp"1, "c2sc"1, "liga"1, "calt"1;
}

.smallcaps {
  font-feature-settings: "kern"1, "rlig"1, "smcp"1, "c2sc"1, "liga"1, "calt"1, "ss07"1;
}

.allcaps { 
  text-transform: uppercase;
  font-feature-settings: "kern"1, "rlig"1, "liga"1, "calt"1, "lnum"1, "cpsp"1;
}

.liga { 
  font-feature-settings: "kern"1, "rlig"1, "liga"1;
}

.dlig { 
  font-feature-settings: "kern"1, "rlig"1, "dlig"1;
}

.onum { 
  font-feature-settings: "kern"1, "rlig"1, "onum"1;
}

.lnum { 
  font-feature-settings: "kern"1, "rlig"1, "lnum"1;
}

.sinf { 
  font-feature-settings: "kern"1, "rlig"1, "sinf"1;
}

.sups { 
  font-feature-settings: "kern"1, "rlig"1, "sups"1;
}

.subs { 
  font-feature-settings: "kern"1, "rlig"1, "subs"1;
}

.numr { 
  font-feature-settings: "kern"1, "rlig"1, "numr"1;
}

.dnom { 
  font-feature-settings: "kern"1, "rlig"1, "dnom"1;
}

.frac { 
  font-feature-settings: "kern"1, "rlig"1, "frac"1;
}

.ordn { 
  font-feature-settings: "kern"1, "rlig"1, "ordn"1;
}

.loclAZE,
.loclCRT,
.loclKAZ,
.loclTAT,
.loclTRK {
  font-feature-settings: "kern"1, "rlig"1;
  text-transform: uppercase;
}

.loclMOL,
.loclROM {
  font-feature-settings: "kern"1, "rlig"1;
}

.loclPLK {
  font-feature-settings: "kern"1, "rlig"1;
}

.loclNLD {
  font-feature-settings: "kern"1, "rlig"1;
}

.loclCAT {
  font-feature-settings: "kern"1, "rlig"1;
}

.loclSRB {
  font-feature-settings: "kern"1, "rlig"1;
}

.loclUKR {
  font-feature-settings: "kern"1, "rlig"1;
}

.ss01 {
  font-feature-settings: "kern"1, "rlig"1, "dlig"1, "ss01"1;
}

.ss02 {
  font-feature-settings: "kern"1, "rlig"1, "ss02"1;
}

.ss03 {
  font-feature-settings: "kern"1, "rlig"1, "ss03"1;
}

.ss04 {
  font-feature-settings: "kern"1, "rlig"1, "ss04"1;
}

.ss05 {
  font-feature-settings: "kern"1, "rlig"1, "ss05"1;
}

.ss06 {
  font-feature-settings: "kern"1, "rlig"1, "ss06"1;
}

.ss07 {
  font-feature-settings: "kern"1, "rlig"1, "ss07"1;
}

.ss07_c2sc {
  font-feature-settings: "kern"1, "rlig"1, "ss07"1, "c2sc"1;
}

.ss08 {
  font-feature-settings: "kern"1, "rlig"1, "ss08"1;
}

.ss09 {
  font-feature-settings: "kern"1, "rlig"1, "ss09"1;
}

.ss10 {
  font-feature-settings: "kern"1, "rlig"1, "ss10"1;
}

.ss11 {
  font-feature-settings: "kern"1, "rlig"1, "ss11"1;
}

.ss12 {
  font-feature-settings: "kern"1, "rlig"1, "ss12"1;
}

.ss12_c2sc {
  font-feature-settings: "kern"1, "rlig"1, "ss12"1, "c2sc"1;
}

.ss13 {
  font-feature-settings: "kern"1, "rlig"1, "ss13"1;
}

.ss13_c2sc {
  font-feature-settings: "kern"1, "rlig"1, "ss13"1, "c2sc"1;
}

.cpsp {
  font-feature-settings: "kern"1, "rlig"1, "cpsp"1;
}

.calt {
  font-feature-settings: "calt"1;
}
