@font-face {
  font-family: "Playfair";
  src: url("PlayfairRomanVF.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("PlayfairItalicVF.ttf") format("truetype");
  font-style: italic;
}