(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
"Alpha-latin",
Amacron,
Aogonek,
Aring,
Aringbelow,
Astroke,
Atilde,
Aturned,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
"Beta-latin",
Bhook,
Bmacronbelow,
Bstroke,
Btopbar,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
"Chi-latin",
Chook,
Cstroke,
D,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dshortstroke,
Dtail,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Esh,
Estroke,
Etilde,
Etildebelow,
Eturned,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Glottalstopsmall,
Gmacron,
Gsingle,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Heng,
Hhook,
Hturned,
I,
IJ,
Iacute_J.loclNLD,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
Itildebelow,
J,
Jcircumflex,
Jcrossedtail,
Jstroke,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
Kstroke,
L,
Lacute,
"Lambda-latin",
"Lambdastroke-latin",
Lbar,
Lbelt,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Ldoublebar,
Lmacronbelow,
Lmiddletilde,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mturned,
N,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nlongrightleg,
Nmacronbelow,
Ntilde,
Eng,
O,
OU,
Oacute,
Obarred,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
"Omega-latin",
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Phook,
Thorn,
Pstroke,
Q,
Qhooktail,
R,
Racute,
Ramshorn,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
Rstroke,
Rtail,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Sobliquestroke,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdiagonalstroke,
Tdotaccent,
Tdotbelow,
Thook,
Tmacronbelow,
Tretroflexhook,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Ustroke,
Utilde,
Utildeacute,
Utildebelow,
V,
"Gamma-latin",
Vdotbelow,
Vhook,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Whook,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ystroke,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Zstroke,
Saltillo,
uniA7AE,
Nhookleft.cv01,
Cacute.loclPLK,
Nacute.loclPLK,
Oacute.loclPLK,
Sacute.loclPLK,
Zacute.loclPLK,
Eng.sami,
E.ss02,
Eacute.ss02,
Ebreve.ss02,
Ecaron.ss02,
Ecircumflex.ss02,
Ecircumflexacute.ss02,
Ecircumflexdotbelow.ss02,
Ecircumflexgrave.ss02,
Ecircumflexhookabove.ss02,
Ecircumflextilde.ss02,
Edieresis.ss02,
Edotaccent.ss02,
Edotbelow.ss02,
Egrave.ss02,
Ehookabove.ss02,
Emacron.ss02,
Eogonek.ss02,
Estroke.ss02,
Etilde.ss02,
T.ss07,
Tbar.ss07,
Tcaron.ss07,
Tcedilla.ss07,
Tcommaaccent.ss07,
Tdiagonalstroke.ss07,
Ezh.ss12,
Ezhcaron.ss12,
Ezhreversed.ss12,
Z.ss12,
Zacute.ss12,
Zcaron.ss12,
Zdotaccent.ss12,
X.ss13,
Zacute.loclPLK.ss12,
T_adieresis.liga,
T_edieresis.liga,
T_i.liga,
T_idieresis.liga,
T_j.liga,
T_odieresis.liga,
T_udieresis.liga,
T_h.ss08,
T_h.ss09,
"T_i-corpus",
"T_idieresis-corpus",
"T_odieresis-corpus",
Ismall,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
"alpha-latin",
amacron,
aogonek,
aring,
aringbelow,
astroke,
atilde,
aturned,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
"beta-latin",
bhook,
bilabialclick,
bmacronbelow,
bstroke,
btopbar,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
"chi-latin",
chook,
cstroke,
d,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
dshortstroke,
dtail,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
esh,
estroke,
etilde,
etildebelow,
eturned,
schwa,
ezh,
ezhcaron,
ezhreversed,
f,
fdotaccent,
g,
gacute,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
glottalstop,
glottalstopreversed,
glottalstopsmall,
gmacron,
gsingle,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
heng,
hhook,
hmacronbelow,
hturned,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
itildebelow,
ij,
iacute_j.loclNLD,
j,
jdotless,
jcaron,
jcircumflex,
jcrossedtail,
jstroke,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
kstroke,
l,
lacute,
"lambda-latin",
"lambdastroke-latin",
lbar,
lbelt,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
ldoublebar,
lmacronbelow,
lmiddletilde,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nlongrightleg,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
"omega-latin",
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
ou,
oe,
p,
pacute,
pdotaccent,
phook,
thorn,
pstroke,
q,
qhooktail,
r,
racute,
ramshorn,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rfishhook,
rinvertedbreve,
rmacronbelow,
rstroke,
rtail,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
sobliquestroke,
longs,
t,
tbar,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdiagonalstroke,
tdotaccent,
tdotbelow,
thook,
tmacronbelow,
tretroflexhook,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
"upsilon-latin",
uring,
ustroke,
utilde,
utildeacute,
utildebelow,
v,
vdotbelow,
vhook,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
whook,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ystroke,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
zstroke,
saltillo,
idotbelow.dotless,
cacute.loclPLK,
nacute.loclPLK,
oacute.loclPLK,
sacute.loclPLK,
zacute.loclPLK,
p.ss01,
thorn.ss01,
g.ss05,
gacute.ss05,
gbreve.ss05,
gcaron.ss05,
gcircumflex.ss05,
gcommaaccent.ss05,
gdotaccent.ss05,
gstroke.ss05,
y.ss06,
yacute.ss06,
ycircumflex.ss06,
ydieresis.ss06,
ydotbelow.ss06,
ygrave.ss06,
yhook.ss06,
yhookabove.ss06,
ytilde.ss06,
ezh.ss12,
ezhcaron.ss12,
ezhreversed.ss12,
z.ss12,
zacute.ss12,
zcaron.ss12,
zdotaccent.ss12,
x.ss13,
ohorn.wide,
zacute.loclPLK.ss12,
whook.OLD,
"alpha-latin.001",
"alpha-latin.002",
a.flattened,
e.flattened,
eopen.flattened,
h.flattened,
i.flattened,
"iota-latin.flattened",
n.flattened,
o.flattened,
oopen.flattened,
u.flattened,
v.flattened,
w.flattened,
z.flattened,
r.u.flattened,
c_t,
f_adieresis.liga,
f_b.liga,
f_eth.liga,
f_edieresis.liga,
f_f.liga,
f_f_adieresis.liga,
f_f_b.liga,
f_f_edieresis.liga,
f_f_h.liga,
f_f_i.liga,
f_f_idieresis.liga,
f_f_igrave.liga,
f_f_j.liga,
f_f_k.liga,
f_f_l.liga,
f_f_odieresis.liga,
f_f_thorn.liga,
f_f_t.liga,
f_f_udieresis.liga,
f_f_ydieresis.liga,
f_h.liga,
f_idieresis.liga,
f_igrave.liga,
f_j.liga,
f_k.liga,
f_odieresis.liga,
f_thorn.liga,
f_t.liga,
f_udieresis.liga,
f_ydieresis.liga,
fi,
fl,
s_p,
s_t,
longs_h.liga,
longs_i.liga,
longs_k.liga,
longs_l.liga,
longs_longs.liga,
longs_longs_h.liga,
longs_longs_i.liga,
longs_longs_k.liga,
longs_longs_l.liga,
longs_longs_t.liga,
longs_t.liga,
f__dieresis.ligature,
f_f__dieresis.ligature,
s_p.ss01,
iacute_j.smcp.loclNLD,
a.smcp,
aacute.smcp,
abreve.smcp,
abreveacute.smcp,
abrevedotbelow.smcp,
abrevegrave.smcp,
abrevehookabove.smcp,
abrevetilde.smcp,
acaron.smcp,
acircumflex.smcp,
acircumflexacute.smcp,
acircumflexdotbelow.smcp,
acircumflexgrave.smcp,
acircumflexhookabove.smcp,
acircumflextilde.smcp,
adblgrave.smcp,
adieresis.smcp,
adieresismacron.smcp,
adotaccent.smcp,
adotbelow.smcp,
adotmacron.smcp,
agrave.smcp,
ahookabove.smcp,
ainvertedbreve.smcp,
"alpha-latin.smcp",
amacron.smcp,
aogonek.smcp,
aring.smcp,
aringbelow.smcp,
astroke.smcp,
atilde.smcp,
aturned.smcp,
ae.smcp,
aeacute.smcp,
aemacron.smcp,
b.smcp,
bdotaccent.smcp,
bdotbelow.smcp,
"beta-latin.smcp",
bhook.smcp,
bmacronbelow.smcp,
bstroke.smcp,
btopbar.smcp,
c.smcp,
cacute.smcp,
ccaron.smcp,
ccedilla.smcp,
ccedillaacute.smcp,
ccircumflex.smcp,
cdotaccent.smcp,
"chi-latin.smcp",
chook.smcp,
cstroke.smcp,
d.smcp,
dcaron.smcp,
dcedilla.smcp,
dcircumflexbelow.smcp,
dcroat.smcp,
ddotaccent.smcp,
ddotbelow.smcp,
dhook.smcp,
dmacronbelow.smcp,
dtail.smcp,
eth.smcp,
e.smcp,
eacute.smcp,
ebreve.smcp,
ecaron.smcp,
ecedilla.smcp,
ecedillabreve.smcp,
ecircumflex.smcp,
ecircumflexacute.smcp,
ecircumflexbelow.smcp,
ecircumflexdotbelow.smcp,
ecircumflexgrave.smcp,
ecircumflexhookabove.smcp,
ecircumflextilde.smcp,
edblgrave.smcp,
edieresis.smcp,
edotaccent.smcp,
edotbelow.smcp,
egrave.smcp,
ehookabove.smcp,
einvertedbreve.smcp,
emacron.smcp,
emacronacute.smcp,
emacrongrave.smcp,
eogonek.smcp,
eopen.smcp,
esh.smcp,
estroke.smcp,
etilde.smcp,
etildebelow.smcp,
eturned.smcp,
schwa.smcp,
ezh.smcp,
ezhcaron.smcp,
ezhreversed.smcp,
f.smcp,
fdotaccent.smcp,
g.smcp,
gacute.smcp,
"gamma-latin.smcp",
gbreve.smcp,
gcaron.smcp,
gcircumflex.smcp,
gcommaaccent.smcp,
gdotaccent.smcp,
ghook.smcp,
glottalstopsmall.smcp,
gmacron.smcp,
gsingle.smcp,
gstroke.smcp,
h.smcp,
hbar.smcp,
hbrevebelow.smcp,
hcaron.smcp,
hcedilla.smcp,
hcircumflex.smcp,
hdieresis.smcp,
hdotaccent.smcp,
hdotbelow.smcp,
heng.smcp,
hhook.smcp,
hturned.smcp,
i.smcp,
idotless.smcp,
iacute.smcp,
ibreve.smcp,
icaron.smcp,
icircumflex.smcp,
idblgrave.smcp,
idieresis.smcp,
idieresisacute.smcp,
idotaccent.smcp,
idotbelow.smcp,
igrave.smcp,
ihookabove.smcp,
iinvertedbreve.smcp,
imacron.smcp,
iogonek.smcp,
"iota-latin.smcp",
istroke.smcp,
itilde.smcp,
itildebelow.smcp,
ij.smcp,
j.smcp,
jcircumflex.smcp,
jcrossedtail.smcp,
jstroke.smcp,
k.smcp,
kacute.smcp,
kcaron.smcp,
kcommaaccent.smcp,
kdotbelow.smcp,
khook.smcp,
kmacronbelow.smcp,
kstroke.smcp,
l.smcp,
lacute.smcp,
"lambda-latin.smcp",
"lambdastroke-latin.smcp",
lbar.smcp,
lbelt.smcp,
lcaron.smcp,
lcircumflexbelow.smcp,
lcommaaccent.smcp,
ldot.smcp,
ldotbelow.smcp,
ldotbelowmacron.smcp,
ldoublebar.smcp,
lmacronbelow.smcp,
lmiddletilde.smcp,
lslash.smcp,
m.smcp,
macute.smcp,
mdotaccent.smcp,
mdotbelow.smcp,
mturned.smcp,
n.smcp,
nacute.smcp,
ncaron.smcp,
ncircumflexbelow.smcp,
ncommaaccent.smcp,
ndotaccent.smcp,
ndotbelow.smcp,
ngrave.smcp,
nhookleft.smcp,
nlongrightleg.smcp,
nmacronbelow.smcp,
ntilde.smcp,
eng.smcp,
o.smcp,
oacute.smcp,
obarred.smcp,
obreve.smcp,
ocaron.smcp,
ocircumflex.smcp,
ocircumflexacute.smcp,
ocircumflexdotbelow.smcp,
ocircumflexgrave.smcp,
ocircumflexhookabove.smcp,
ocircumflextilde.smcp,
odblgrave.smcp,
odieresis.smcp,
odieresismacron.smcp,
odotaccent.smcp,
odotaccentmacron.smcp,
odotbelow.smcp,
ograve.smcp,
ohookabove.smcp,
ohorn.smcp,
ohornacute.smcp,
ohorndotbelow.smcp,
ohorngrave.smcp,
ohornhookabove.smcp,
ohorntilde.smcp,
ohungarumlaut.smcp,
oinvertedbreve.smcp,
omacron.smcp,
omacronacute.smcp,
omacrongrave.smcp,
"omega-latin.smcp",
oogonek.smcp,
oogonekmacron.smcp,
oopen.smcp,
oslash.smcp,
oslashacute.smcp,
otilde.smcp,
otildeacute.smcp,
otildedieresis.smcp,
otildemacron.smcp,
ou.smcp,
oe.smcp,
p.smcp,
pacute.smcp,
pdotaccent.smcp,
phook.smcp,
thorn.smcp,
pstroke.smcp,
q.smcp,
qhooktail.smcp,
r.smcp,
racute.smcp,
ramshorn.smcp,
rcaron.smcp,
rcommaaccent.smcp,
rdblgrave.smcp,
rdotaccent.smcp,
rdotbelow.smcp,
rdotbelowmacron.smcp,
rinvertedbreve.smcp,
rmacronbelow.smcp,
rstroke.smcp,
rtail.smcp,
s.smcp,
sacute.smcp,
sacutedotaccent.smcp,
scaron.smcp,
scarondotaccent.smcp,
scedilla.smcp,
scircumflex.smcp,
scommaaccent.smcp,
sdotaccent.smcp,
sdotbelow.smcp,
sdotbelowdotaccent.smcp,
germandbls.smcp,
sobliquestroke.smcp,
t.smcp,
tbar.smcp,
tcaron.smcp,
tcedilla.smcp,
tcircumflexbelow.smcp,
tcommaaccent.smcp,
tdiagonalstroke.smcp,
tdotaccent.smcp,
tdotbelow.smcp,
thook.smcp,
tmacronbelow.smcp,
tretroflexhook.smcp,
u.smcp,
uacute.smcp,
ubar.smcp,
ubreve.smcp,
ucaron.smcp,
ucircumflex.smcp,
ucircumflexbelow.smcp,
udblgrave.smcp,
udieresis.smcp,
udieresisacute.smcp,
udieresisbelow.smcp,
udieresiscaron.smcp,
udieresisgrave.smcp,
udieresismacron.smcp,
udotbelow.smcp,
ugrave.smcp,
uhookabove.smcp,
uhorn.smcp,
uhornacute.smcp,
uhorndotbelow.smcp,
uhorngrave.smcp,
uhornhookabove.smcp,
uhorntilde.smcp,
uhungarumlaut.smcp,
uinvertedbreve.smcp,
umacron.smcp,
umacrondieresis.smcp,
uogonek.smcp,
"upsilon-latin.smcp",
uring.smcp,
ustroke.smcp,
utilde.smcp,
utildeacute.smcp,
utildebelow.smcp,
v.smcp,
vdotbelow.smcp,
vhook.smcp,
vtilde.smcp,
vturned.smcp,
w.smcp,
wacute.smcp,
wcircumflex.smcp,
wdieresis.smcp,
wdotaccent.smcp,
wdotbelow.smcp,
wgrave.smcp,
whook.smcp,
x.smcp,
xdieresis.smcp,
xdotaccent.smcp,
y.smcp,
yacute.smcp,
ycircumflex.smcp,
ydieresis.smcp,
ydotaccent.smcp,
ydotbelow.smcp,
ygrave.smcp,
yhook.smcp,
yhookabove.smcp,
ymacron.smcp,
ystroke.smcp,
ytilde.smcp,
z.smcp,
zacute.smcp,
zcaron.smcp,
zcircumflex.smcp,
zdotaccent.smcp,
zdotbelow.smcp,
zmacronbelow.smcp,
zstroke.smcp,
saltillo.smcp,
nhookleft.smcp.cv01,
cacute.loclPLK.smcp,
nacute.loclPLK.smcp,
oacute.loclPLK.smcp,
sacute.loclPLK.smcp,
zacute.loclPLK.smcp,
eng.sami.smcp,
e.smcp.ss02,
eacute.smcp.ss02,
ebreve.smcp.ss02,
ecaron.smcp.ss02,
ecircumflex.smcp.ss02,
ecircumflexacute.smcp.ss02,
ecircumflexdotbelow.smcp.ss02,
ecircumflexgrave.smcp.ss02,
ecircumflexhookabove.smcp.ss02,
ecircumflextilde.smcp.ss02,
edieresis.smcp.ss02,
edotaccent.smcp.ss02,
edotbelow.smcp.ss02,
egrave.smcp.ss02,
ehookabove.smcp.ss02,
emacron.smcp.ss02,
eogonek.smcp.ss02,
estroke.smcp.ss02,
etilde.smcp.ss02,
t.smcp.ss07,
tbar.smcp.ss07,
tcaron.smcp.ss07,
tcedilla.smcp.ss07,
tcommaaccent.smcp.ss07,
tdiagonalstroke.smcp.ss07,
ezh.smcp.ss12,
ezhcaron.smcp.ss12,
ezhreversed.smcp.ss12,
z.smcp.ss12,
zacute.smcp.ss12,
zcaron.smcp.ss12,
zdotaccent.smcp.ss12,
x.smcp.ss13,
zacute.loclPLK.smcp.ss12,
ordfeminine,
ordmasculine,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
hmod,
imod,
nmod,
wmod,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Ghestroke-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Yusbig-cy",
"Zhedescender-cy",
"Kadescender-cy",
"Endescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Shha-cy",
"Entail-cy",
"Schwa-cy",
"Obarred-cy",
"De-cy.loclBGR",
"Ii-cy.loclBGR",
"Iishort-cy.loclBGR",
"Iigrave-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"Ie-cy.ss02",
"Iegrave-cy.ss02",
"Io-cy.ss02",
"Te-cy.ss07",
"Tshe-cy.ss07",
"Dje-cy.ss07",
"Ha-cy.ss13",
"Hadescender-cy.ss13",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"ghestroke-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"yusbig-cy",
"zhedescender-cy",
"kadescender-cy",
"endescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"shha-cy",
"entail-cy",
"schwa-cy",
"obarred-cy",
"ve-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ka-cy.loclBGR",
"ef-cy.loclBGR",
"yu-cy.loclBGR",
"ya-cy.loclBGR",
"be-cy.loclSRB",
"ge-cy.loclSRB",
"de-cy.loclSRB",
"pe-cy.loclSRB",
"te-cy.loclSRB",
"yi-cy.narrow",
"er-cy.ss01",
"yusbig-cy.ss03",
"em-cy.ss04",
"u-cy.ss06",
"ushort-cy.ss06",
"ha-cy.ss13",
"hadescender-cy.ss13",
"a-cy.smcp",
"be-cy.smcp",
"ve-cy.smcp",
"ge-cy.smcp",
"gje-cy.smcp",
"geupturn-cy.smcp",
"ghestroke-cy.smcp",
"de-cy.smcp",
"ie-cy.smcp",
"iegrave-cy.smcp",
"io-cy.smcp",
"zhe-cy.smcp",
"ze-cy.smcp",
"ii-cy.smcp",
"iishort-cy.smcp",
"iigrave-cy.smcp",
"ka-cy.smcp",
"kje-cy.smcp",
"el-cy.smcp",
"em-cy.smcp",
"en-cy.smcp",
"o-cy.smcp",
"pe-cy.smcp",
"er-cy.smcp",
"es-cy.smcp",
"te-cy.smcp",
"u-cy.smcp",
"ushort-cy.smcp",
"ef-cy.smcp",
"ha-cy.smcp",
"tse-cy.smcp",
"che-cy.smcp",
"sha-cy.smcp",
"shcha-cy.smcp",
"dzhe-cy.smcp",
"softsign-cy.smcp",
"yeru-cy.smcp",
"hardsign-cy.smcp",
"lje-cy.smcp",
"nje-cy.smcp",
"dze-cy.smcp",
"e-cy.smcp",
"ereversed-cy.smcp",
"i-cy.smcp",
"yi-cy.smcp",
"je-cy.smcp",
"tshe-cy.smcp",
"yu-cy.smcp",
"ya-cy.smcp",
"dje-cy.smcp",
"yat-cy.smcp",
"yusbig-cy.smcp",
"zhedescender-cy.smcp",
"kadescender-cy.smcp",
"endescender-cy.smcp",
"ustraight-cy.smcp",
"ustraightstroke-cy.smcp",
"hadescender-cy.smcp",
"shha-cy.smcp",
"entail-cy.smcp",
"schwa-cy.smcp",
"obarred-cy.smcp",
"de-cy.loclBGR.smcp",
"ii-cy.loclBGR.smcp",
"iishort-cy.loclBGR.smcp",
"iigrave-cy.loclBGR.smcp",
"el-cy.loclBGR.smcp",
"ef-cy.loclBGR.smcp",
"te-cy.smcp.ss07",
"tshe-cy.smcp.ss07",
"dje-cy.smcp.ss07",
"ha-cy.smcp.ss13",
"hadescender-cy.smcp.ss13",
Delta,
Omega,
mu,
pi,
amod,
eOpenmod,
emod,
iotamod,
istrokemod,
oOpenmod,
omod,
ubarmod,
umod,
vmod,
zmod,
space,
nbspace,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
thinspace,
hairspace,
zerowidthspace,
zeroWidthNoBreakSpace,
narrownbspace,
CR,
NULL,
.notdef,
figurespace.tf,
space.tf.ss14,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
exclam.case,
exclamdown.case,
question.case,
questiondown.case,
periodcentered.case,
bullet.case,
numbersign.case,
colon.figures,
exclam.smcp,
exclamdown.smcp,
question.smcp,
questiondown.smcp,
periodcentered.smcp,
bullet.smcp,
colon.figures.lf,
colon.figures.smcp,
period.tf.ss14,
comma.tf.ss14,
colon.tf.ss14,
semicolon.tf.ss14,
periodcentered.tf.ss14,
numbersign.tf.ss14,
colon.figures.tosf,
colon.figures.tf.ss14,
colon.figures.tosf.ss14,
hyphen,
softhyphen,
endash,
emdash,
horizontalbar,
hyphentwo,
underscore,
hyphen.case,
endash.case,
emdash.case,
horizontalbar.case,
hyphentwo.case,
hyphen.smcp,
endash.smcp,
emdash.smcp,
hyphentwo.smcp,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
parenleft.smcp,
parenright.smcp,
braceleft.smcp,
braceright.smcp,
bracketleft.smcp,
bracketright.smcp,
parenleft.tf.ss14,
parenright.tf.ss14,
braceleft.tf.ss14,
braceright.tf.ss14,
bracketleft.tf.ss14,
bracketright.tf.ss14,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
tripleprime,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
quotedblleft.smcp,
quotedblright.smcp,
quoteleft.smcp,
quoteright.smcp,
guillemetleft.smcp,
guillemetright.smcp,
guilsinglleft.smcp,
guilsinglright.smcp,
tripleprime.smcp,
florin,
florin.smcp,
florin.tf,
baht,
baht.smcp,
baht.tf,
colonmod,
doubleapostrophemod,
minusmod,
shortequalmod,
angstrom,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
dagger,
daggerdbl,
numero,
kelvin,
at.case,
ampersand.case,
angstrom.smcp,
at.smcp,
ampersand.smcp,
paragraph.smcp,
section.smcp,
degree.smcp,
minute.smcp,
second.smcp,
kelvin.smcp,
A.circled,
a.circled,
a.circled.smcp,
cedi,
cent,
cruzeiro,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
liraTurkish,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sheqel,
sterling,
tenge,
won,
yen,
currency.lf,
cedi.smcp,
cent.smcp,
cruzeiro.smcp,
currency.smcp,
dollar.smcp,
dong.smcp,
euro.smcp,
franc.smcp,
guarani.smcp,
hryvnia.smcp,
kip.smcp,
lari.smcp,
liraTurkish.smcp,
naira.smcp,
peseta.smcp,
peso.smcp,
ruble.smcp,
rupeeIndian.smcp,
sheqel.smcp,
sterling.smcp,
tenge.smcp,
won.smcp,
yen.smcp,
sterling.ss11,
cedi.tf,
cent.tf,
cruzeiro.tf,
currency.tf,
dollar.tf,
dong.tf,
euro.tf,
franc.tf,
guarani.tf,
hryvnia.tf,
kip.tf,
lari.tf,
liraTurkish.tf,
naira.tf,
peseta.tf,
peso.tf,
ruble.tf,
rupeeIndian.tf,
sheqel.tf,
sterling.tf,
tenge.tf,
won.tf,
yen.tf,
currency.tosf,
commercialMinusSign,
divisionslash,
dotmath,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
asciitilde.case,
asciicircum.case,
infinity.case,
divisionslash.lf,
dotmath.lf,
plus.lf,
minus.lf,
multiply.lf,
divide.lf,
equal.lf,
notequal.lf,
greater.lf,
less.lf,
greaterequal.lf,
lessequal.lf,
plusminus.lf,
approxequal.lf,
asciitilde.lf,
logicalnot.lf,
asciicircum.lf,
percent.lf,
perthousand.lf,
asciitilde.smcp,
asciicircum.smcp,
minus.subs,
minus.sups,
divisionslash.tf,
dotmath.tf,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
notequal.tf,
greater.tf,
less.tf,
greaterequal.tf,
lessequal.tf,
plusminus.tf,
approxequal.tf,
asciitilde.tf,
logicalnot.tf,
asciicircum.tf,
percent.tf,
perthousand.tf,
divisionslash.tosf,
dotmath.tosf,
plus.tosf,
minus.tosf,
multiply.tosf,
divide.tosf,
equal.tosf,
notequal.tosf,
greater.tosf,
less.tosf,
greaterequal.tosf,
lessequal.tosf,
plusminus.tosf,
approxequal.tosf,
asciitilde.tosf,
percent.tosf,
perthousand.tosf,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upArrow.case,
northEastArrow.case,
rightArrow.case,
southEastArrow.case,
downArrow.case,
southWestArrow.case,
leftArrow.case,
northWestArrow.case,
leftRightArrow.case,
upDownArrow.case,
upArrow.smcp,
northEastArrow.smcp,
rightArrow.smcp,
southEastArrow.smcp,
downArrow.smcp,
southWestArrow.smcp,
leftArrow.smcp,
northWestArrow.smcp,
leftRightArrow.smcp,
upDownArrow.smcp,
lozenge,
blackSquare,
whiteSquare,
blackSquare.case,
whiteSquare.case,
blackSquare.smcp,
whiteSquare.smcp,
rbelowcomb,
ogonek_e,
"brevecomb-cy",
"brevecomb-cy.case",
"brevecomb-cy.smcp",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
verticallineabovecomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
slashshortcomb,
slashlongcomb,
dotaboverightcomb,
doublemacronbelowcomb,
acutemacroncomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
dblgravecomb.case,
candraBinducomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
commaabovecomb.case,
cedillacomb.case,
ogonekcomb.case,
circumflexbelowcomb.case,
brevebelowcomb.case,
macronbelowcomb.case,
dotaboverightcomb.case,
doublemacronbelowcomb.case,
acutemacroncomb.case,
gravemacroncomb.case,
macronacutecomb.case,
macrongravecomb.case,
acutecomb.loclPLK,
dieresiscomb.narrow,
dieresiscomb.smcp,
dotaccentcomb.smcp,
gravecomb.smcp,
acutecomb.smcp,
hungarumlautcomb.smcp,
circumflexcomb.smcp,
caroncomb.smcp,
brevecomb.smcp,
ringcomb.smcp,
tildecomb.smcp,
macroncomb.smcp,
hookabovecomb.smcp,
dblgravecomb.smcp,
candraBinducomb.smcp,
breveinvertedcomb.smcp,
commaturnedabovecomb.smcp,
commaabovecomb.smcp,
cedillacomb.smcp,
ogonekcomb.smcp,
brevebelowcomb.smcp,
dotaboverightcomb.smcp,
acutemacroncomb.smcp,
gravemacroncomb.smcp,
macronacutecomb.smcp,
macrongravecomb.smcp,
gravecomb.viet,
acutecomb.viet,
circumflexcomb.viet,
acutecomb.loclPLK.case,
dieresiscomb.narrow.case,
acutecomb.loclPLK.smcp,
gravecomb.case.viet,
acutecomb.case.viet,
circumflexcomb.case.viet,
brevecomb.case.viet,
tildecomb.case.viet,
circumflexcomb.case.viet.narrow,
caroncomb.alt,
caroncomb.alt.case,
slashshortcomb.case,
slashlongcomb.case,
caroncomb.alt.smcp,
tildecomb.viet.narrow,
tildecomb.case.viet.narrow,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
macron_long,
apostrophemod,
commaturnedmod,
glottalstopmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinemod,
"_part.LC-c",
"_part.LC-b-bowl",
"_part.LC-ge-cy-body",
"_part.LC-left-bowl",
"_part.LC-n-shoulder-top",
"_part.SMCP-F-upper",
"_part.SMCP-T-upper-stroke",
"_part.SMCP-alpha-latin-body",
"_part.SMCP-ge-cy-upper",
"_part.SMCP-softsign-cy-bowl",
"_part.SMCP-stem",
"_part.SMCP-t-top-stroke",
"_part.UC-F-upper",
"_part.UC-Ge-cy-upper",
"_part.UC-Softsign-cy-bowl",
"_part.UC-T-lower-stem",
"_part.UC-T-top-bar",
"_part.UC-T-upper-stroke",
"_part.UC-alpha-latin-body",
"_part.UC-stem",
"_part.k-legs",
"_smart.lambda-latin",
"_cap.LC-flag-descender",
"_cap.LC-inserif",
"_cap.LC-instroke",
"_cap.LC-vertical-thick-down",
"_cap.LC-vertical-thick-up",
"_cap.UC-Hadescender-cy-tooth",
"_cap.UC-X-instroke",
"_cap.UC-baseline-ballterminal",
"_cap.UC-beak",
"_cap.UC-beak-down",
"_cap.UC-beak-up",
"_cap.UC-descender-cy",
"_cap.UC-hook-cy",
"_cap.UC-ogonek",
"_cap.UC-thin-diagonal-flare",
"_cap.UC-thin-diagonal-flare-reversed",
"_cap.UC-thin-flare",
"_cap.UC-vertical-thick-down",
"_cap.UC-vertical-thick-up",
"_cap.V-upper-right-hook",
"_cap.flag-ascender",
"_cap.tail-descender",
"_corner.LC-left-serif",
"_corner.LC-right-serif",
"_corner.LC-single-sided-serif",
"_corner.SMCP-T-upper-left-hook",
"_corner.UC-left-diagonal-serif",
"_corner.UC-left-serif",
"_corner.UC-obtuse-diagonal-serif",
"_corner.UC-right-diagonal-serif",
"_corner.UC-right-serif",
"_corner.UC-thin-diagonal-acute",
"_corner.UC-upper-left-hook",
"_corner.bracket-acute",
"_corner.bracket-obtuse",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.smcp,
one.smcp,
two.smcp,
three.smcp,
four.smcp,
five.smcp,
six.smcp,
seven.smcp,
eight.smcp,
nine.smcp,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.lf.zero,
zero.smcp.zero,
zero.tf.zero,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zero.dnom.afrc,
one.dnom.afrc,
two.dnom.afrc,
three.dnom.afrc,
four.dnom.afrc,
five.dnom.afrc,
six.dnom.afrc,
seven.dnom.afrc,
eight.dnom.afrc,
nine.dnom.afrc,
zero.numr.afrc,
one.numr.afrc,
two.numr.afrc,
three.numr.afrc,
four.numr.afrc,
five.numr.afrc,
six.numr.afrc,
seven.numr.afrc,
eight.numr.afrc,
nine.numr.afrc,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
"_LC-e-middlestroke-cy",
"_UC-bottom-stem-narrow-descender-cy",
"_UC-descender-cy",
"_e-corpus-cy",
"_hook-cy",
"_tail-cy",
"_SMCP-Ii-cy.loclBGR",
"_UC-Ii-cy.loclBGR",
"_LC-r-arm",
"_B-stroke",
"_I-stroke",
"_K-stroke",
"_L-bar",
"_L-belt",
"_L-double-bar",
"_LC-a-stroke",
"_LC-ascender-left-bar-top",
"_LC-ascender-left-inserif",
"_LC-ascender-right-side-hook",
"_LC-ascender-serifless",
"_LC-baseline-ball-terminal",
"_LC-baseline-latin-greek-outstroke",
"_LC-baseline-outstroke",
"_LC-baseline-stem",
"_LC-che-cy-bowl",
"_LC-descender-normal-wide",
"_LC-descender-right-tail",
"_LC-descender-wide-normal",
"_LC-dje-arch",
"_LC-e-stroke",
"_LC-el-cy-body",
"_LC-en-cy-bar",
"_LC-exclam-stroke",
"_LC-exclamdown-stroke",
"_LC-f-ascender",
"_LC-f-bar",
"_LC-florin-bar",
"_LC-ge-cy-bar",
"_LC-geupturn-cy-upper",
"_LC-hook-descender",
"_LC-i-stroke",
"_LC-imod-stroke-overlay",
"_LC-iota-latin-outstroke",
"_LC-j-descender",
"_LC-j-descender-crossed-tail",
"_LC-l-double-bar",
"_LC-lambda-latin-stroke",
"_LC-longs-bar",
"_LC-middletilde",
"_LC-monocameral-g-descender",
"_LC-p-stroke-overlay",
"_LC-period-xheight",
"_LC-question-upper",
"_LC-questiondown-lower",
"_LC-right-instroke",
"_LC-s-stroke",
"_LC-softsign-cy-bowl",
"_LC-straight-descender",
"_LC-t-ascender",
"_LC-t-bar",
"_LC-t-outstroke",
"_LC-t-stroke",
"_LC-tail-descender",
"_LC-tbar-overlay",
"_LC-u-stroke",
"_LC-u-stroke-overlay",
"_LC-umod-stroke-overlay",
"_LC-xheight-left-inserif",
"_LC-xheight-left-instroke",
"_LC-xheight-stem",
"_LC-xheight-stem-hook",
"_LC-y-stroke-overlay",
"_LC-yeru-cy-stem",
"_LC-yu-cy-iota",
"_LC-z-stroke-body",
"_LC-z-stroke-overlay",
"_LC-zhe-cy-middle",
"_LC-zhe-cy-middle-alt",
"_P-stroke",
"_R-stroke",
"_SMCP-A-stroke",
"_SMCP-C-stroke",
"_SMCP-E-stroke",
"_SMCP-Eng-upper",
"_SMCP-Gamma-latin-descender",
"_SMCP-J-descender",
"_SMCP-J-descender-crossedtail",
"_SMCP-J-stroke-upper",
"_SMCP-J-upper",
"_SMCP-N-upper",
"_SMCP-R-upper",
"_SMCP-S-stroke",
"_SMCP-T-stroke",
"_SMCP-T-top-stroke-swash",
"_SMCP-Z-stroke-body",
"_SMCP-Z-stroke-overlay",
"_SMCP-bottom-stem-narrow-normal",
"_SMCP-bottom-stem-normal-narrow",
"_SMCP-bottom-stem-normal-normal",
"_SMCP-che-cy-curve",
"_SMCP-che-cy-stem",
"_SMCP-de-cy-upper",
"_SMCP-dje-cy-curve",
"_SMCP-dzhe-cy_lower",
"_SMCP-el-cy-upper",
"_SMCP-en-cy-base",
"_SMCP-exclam-upper",
"_SMCP-gheupturn-cy-upper",
"_SMCP-hadescender-cy-instroke",
"_SMCP-hardsign-cy-stem",
"_SMCP-ii-cy-upper",
"_SMCP-iota-upper",
"_SMCP-k-wing",
"_SMCP-kadescender-cy-wing",
"_SMCP-pe-cy-upper",
"_SMCP-question-upper",
"_SMCP-sha-cy-base",
"_SMCP-softsign-cy-stem",
"_SMCP-t-hook-top-stroke",
"_SMCP-top-stem-normal-narrow",
"_SMCP-top-stem-normal-normal",
"_SMCP-tse-cy-lower",
"_SMCP-tse-dzhe-cy-upper",
"_SMCP-upper-stem-instroke",
"_SMCP-x-instroke",
"_SMCP-x-outstrokes",
"_SMCP-yat-cy-bar",
"_SMCP-zhe-cy-wings",
"_SMCP-zhedescender-cy-wings",
"_UC-A-stroke",
"_UC-C-stroke",
"_UC-Che-cy-curve",
"_UC-Che-cy-stem",
"_UC-De-cy-descender",
"_UC-De-cy-upper",
"_UC-Dje-cy-curve",
"_UC-Dzhe-cy-descender",
"_UC-Dzhe-cy_lower",
"_UC-E-cy-middlestroke",
"_UC-E-stroke",
"_UC-El-cy-upper",
"_UC-Eng-arch",
"_UC-Gamma-latin-descender",
"_UC-Gheupturn-cy-upper",
"_UC-Gsingle-descender",
"_UC-H-upper",
"_UC-Hadescender-cy-instroke",
"_UC-Hardsign-cy-stem",
"_UC-IJ-upper",
"_UC-Ii-cy-upper",
"_UC-Iota-latin-outstroke",
"_UC-Iota-upper",
"_UC-J-descender",
"_UC-J-descender-crossedtail",
"_UC-J-stroke-upper",
"_UC-J-upper",
"_UC-K-wing",
"_UC-Kadescender-cy-wing",
"_UC-N-hook",
"_UC-N-upper",
"_UC-Pe-cy-upper",
"_UC-R-upper",
"_UC-S-stroke",
"_UC-Sha-cy_base",
"_UC-Softsign-cy-stem",
"_UC-T-stroke",
"_UC-T-top-stroke-hook",
"_UC-T-top-stroke-swash",
"_UC-Tse-Dzhe-cy_upper",
"_UC-Tse-cy_lower",
"_UC-U-bar",
"_UC-U-stroke",
"_UC-X-instroke",
"_UC-X-outstrokes",
"_UC-Y-stroke",
"_UC-Ya-cy-upper",
"_UC-Yat-cy-bar",
"_UC-Z-stroke-body",
"_UC-Z-stroke-overlay",
"_UC-Zhe-cy-wings",
"_UC-Zhedescender-cy-wings",
"_UC-alpha-latin-serif",
"_UC-bottom-stem-narrow-hook",
"_UC-bottom-stem-narrow-none",
"_UC-bottom-stem-narrow-normal",
"_UC-bottom-stem-normal-narrow",
"_UC-bottom-stem-normal-normal",
"_UC-bottom-stem-normal-wide",
"_UC-bottom-stem-wide-normal",
"_UC-bottom-thin_stem-normal-wide",
"_UC-exclam-stroke",
"_UC-instroke-stem",
"_UC-lambda-latin-stroke",
"_UC-long-leg-descender",
"_UC-lower-right-tail",
"_UC-middletilde",
"_UC-question-upper",
"_UC-top-hook-instroke",
"_UC-top-stem-normal-narrow",
"_UC-top-stem-normal-normal",
"_UC-upper-stem-instroke",
"_UC_cy-baseline-right-serif",
"_alveolar-double-slash",
"_baht-bar",
"_bilabial-click-dot",
"_bilabialclick-body",
"_bilabialclick-dot",
"_c-hook",
"_cedi-bar",
"_cent-bar",
"_dollar-bar",
"_dollar-corpus",
"_guarani-bar",
"_j-stroke",
"_jdotless-serif-instroke",
"_kip-bar",
"_l-belt",
"_lc-o-horn",
"_lc-u-horn",
"_naira-bar",
"_peseta-bar",
"_won-bar",
"_yen-strokes-overlay",
"_LC-yu-cy-iota.loclBGR-baseline",
"_LC-yu-cy-iota.loclBGR",
"_SMCP-de-cy-upper.loclBGR",
"_UC-De-cy-upper.loclBGR",
"_SMCP-u-stroke.smcp",
"_cedi-bar.smcp",
"_dollar-cent-bar.smcp",
"_dollar-corpus.smcp",
"_guarani-bar.smcp",
"_yen-strokes-overlay.smcp",
"_SMCP-T-stroke.ss07",
"_UC-T-stroke.ss07",
"_lc-o-horn.wide",
fracinit,
"jcrossedtail-dotless",
bar1.afrc,
bar10.afrc,
bar2.afrc,
bar3.afrc,
bar4.afrc,
bar5.afrc,
bar6.afrc,
bar7.afrc,
bar8.afrc,
bar9.afrc,
fhook.smcp,
"Eng-hook",
GstrokeStroke,
_Dbar,
_Obar,
"_SMCP-slash-l",
_currencyHorizontalBar,
_dbar,
_interpunct,
_obar,
"_yu-cy-o",
"d-lowered",
"g-stroke-overlay",
"tooth-cy",
"uc-o-horn",
GstrokeStroke.smcp,
_brevecomb.light,
"_cedillacomb-E.case",
"_cedillacomb-T.case",
_currencyHorizontalBar.smcp,
_dotaccentcomb.light,
_tildecomb.light,
_tildecomb.narrow,
"dong-below.smcp",
"g-stroke-overlay.ss05",
hacek.smcp,
"o-horncomb.smcp",
slashlongoverlaycomb.smcp,
strokelongoverlaycomb.case,
strokelongoverlaycomb.smcp,
strokeshortoverlaycomb.case,
strokeshortoverlaycomb.smcp,
"t-caroncomb.alt",
_circumflexcomb.viet.narrow,
_dot.zero.zero,
_dotaccentcomb.case.light,
_dot.zero.lf.zero,
_dot.zero.smcp.zero
)