{
displayStrings = (
"XꟋƳN/ramshorn.smcp ɤ
IIIXIIIƳIIIꟋIIIYIIIƳIII
IIIX/x.smcp IIIƳIIIꟋ/ramshorn.smcp IɤIIYIIIƳIII",
"vʋⱳ/whook.OLD yƴ",
"aɑɣɩμı",
"I
/_UC-bottom-stem-narrow-normal H/_UC-Iota-latin-outstroke/_UC-Iota-upper Ɩ/_LC-iota-latin-outstroke/_LC-xheight-left-inserif ɩ/iota-latin.flattened/_SMCP-iota-upper/iota-latin.smcp ᶥ
TEHHDIV TEHEDIV 
71niouid 
71niouid ",
"HHHƖHHHƖYƖVƖO
/h.smcp/h.smcp/h.smcp/iota-latin.smcp/h.smcp/h.smcp/h.smcp/iota-latin.smcp/y.smcp/iota-latin.smcp/v.smcp/iota-latin.smcp/o.smcp 
nɩuɩnɩoɩsɩvɩyɩwɩdɩh",
"VⱯ/v.smcp/aturned.smcp ɐ
Ⓐ/a.circled.smcp ⓐ",
"dď",
"minɓaɓoɓsɓnɓhɓlɓjɓfɓuim
minƈaƈacoƈsƈnƈhƈlƈjƈfƈuim
minɗaɗoɗsɗnɗhɗlɗjɗfɗuim
minɠaɠoɠsɠnɠhɠlɠjɠfɠuim
minɦaɦoɦsɦnɦhɦlɦjɦjhfɦuim
minkƙaƙoƙsƙnƙhƙlƙjƙfƙuim
minɲaɲoɲsɲnɲhɲlɲjɲfɲuim
minƥaƥoƥsƥnƥhƥlƥjƥfƥuim
minɋaɋoɋsɋnɋhɋlɋjɋfɋuim
minɾaɾoɾsɾnɾhɾlɾjɾfɾuim
minƭaƭoƭsƭnƭhƭlƭjƭfƭuim
minʈaʈoʈsʈnʈhʈlʈjʈfʈuim
minʋaʋoʋsʋnʋhʋlʋjʋfʋuim
minⱳaⱳoⱳsⱳnⱳhⱳlⱳjⱳfⱳuim
minƴaƴoƴsƴnƴhƴlƴjƴfƴuim
minɖaɖoɖsɖnɖhɖlɖjɖfɖuim
minɋaɋoɋsɋnɋhɋlɋjɋfɋuim
minɽaɽoɽsɽnɽhɽlɽjɽfɽuim
minʈaʈoʈsʈnʈhʈlʈjʈfʈuim
minjajojsjnjhjljjjfjuim
minɩaɩoɩsɩnɩhɩlɩjɩfɩuim
minʃaʃoʃsʃnʃhʃlʃjʃfʃuim
minɾaɾoɾsɾnɾhɾlɾjɾfɾuim
minɩaɩoɩsɩnɩhɩlɩjɩfɩuim
minɩaɩoɩsɩnɩhɩlɩjɩfɩuim
mintatotstnthtltjtftuim
ninnid 24nn

niʃoid nioʃid 
niʃsid nisʃid 
nilyid ninʃid "
);
}
